<div id="eventDashboard">
  <span id="dashboardText">
    <script type="text/javascript" src="/lib/googleAnalytics.js"></script>
        <h1><phpreplaced createBrickSlopesLogo("1.25"); phpreplaced> &#8226; <phpreplaced stylizePages("Gary McIntire, Keynote Speaker");phpreplaced></h1>
        <div id='keynoteBubble'>
          The Man, The Myth(buster), Mr. Gsnot himself ...
        </div>
        <div id='keynoteImageHolder'>
          <img id='keynoteImage' src="/images/keynote/Gary-McIntire_keynote_page.jpg">
        </div>
        <div class='keynote keynoteSmall'>
          &nbsp;&nbsp;&nbsp;&nbsp;Gary McIntire is the 2014 BrickSlopes Keynote Speaker. Gary is a lifelong LEGO enthusiast – never entering a ‘dark age’. As a child and into his teenage years his family from around the country would purchase LEGO for him. With so much support Gary amassed over a million LEGO bricks while still a teenager! 
          <p>
          &nbsp;&nbsp;&nbsp;&nbsp;Gary was a member of the Seattle LEGO Users Group (SEALUG) prior to moving to Utah and co-founding the Utah LEGO Users Group (ULUG). While in Utah, Gary’s notoriety as a master LEGO builder was noticed by regional newspapers, television stations and local patrons who commissioned him to build masterpieces for their homes and businesses.
        </div>
        <div class='keynote keynoteLarge'>
          &nbsp;&nbsp;&nbsp;&nbsp;In 2006, Gary earned an internship at LEGOLand California to build “Las Vegas” in Miniland. 
          LEGO immediately recognized Gary’s enthusiasm, abilities and love for the “Brick” and offered him a full-time position as one of a few “Master LEGO Builders”.
          <p>
          &nbsp;&nbsp;&nbsp;&nbsp;Gary spent the last 6 years at LEGOLand California maintaining models in the park, renovating Miniland, working on commissioned models both for the LEGO Company and private organizations and starring in videos for LEGO Club. In 2008, Gary worked on a model of the White House for the inauguration activities for President Obama. In 2009, Gary was on the popular television series Mythbusters. In 2011, Gary helped install the latest addition to Miniland – Star Wars. Recently Gary left LEGOLand California to join LEGOStudios.
          <p>
          Saturday, May 3rd - 8:00 p.m.
        </div>
    </span>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
