<div id="eventDashboard">
    <span id="dashboardText">
        <script type="text/javascript" src="/lib/googleAnalytics.js"></script>

        <h1><phpreplaced createBrickSlopesLogo("1.25"); phpreplaced> &#8226; <phpreplaced stylizePages("Amenities"); phpreplace></h1>

        <div class='venue venueSmall'>
          
          <div id='amenitiesMap'>
            <img src="/images/venue/Amenities-Map2.png">
          </div>
          
        </div>
    </span>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>

