<div id="eventDashboard">
    <span id="dashboardText">
        <div>
            <h1><bs-logo font-size=1.25 text="{{eventDetails.city}}"></bs-logo> &#8226; <bs-text text="Event Registration" font-color=black></bs-text></h1>
        </div>
        <div id="discountPriceInformation">
            <h2>Before {{discountDate}}</h2>
            <span class="blueFont">AFOL {{passType}} Event Pass</span> -- <span class="bold">{{eventDetails.discount | currency}}</span> per person 
            <p>
            <span class="blueFont">Meet & Greet Event Pass</span> -- <span class="bold">{{eventDetails.meetAndGreetDiscount | currency}}</span> per person
        </div>
        <div id="fullPriceInformation">
            <h2>After {{discountDate}}</h2>
            <span class="blueFont">AFOL {{passType}} Event Pass</span> -- <span class="bold">{{eventDetails.cost | currency}}</span> per person
            <p>
            <span class="blueFont">Meet & Greet Event Pass</span> -- <span class="bold">{{eventDetails.meetAndGreetCost | currency}}</b> per person
        </div>
        <div id="eventDivider">
            <hr>
        </div>
        <div class="registrationForm">
            <div>
                <h3>AFOL Event Registration Form</h3>
            </div>
            <form name="registration" ng-submit="registration.$valid && submitRegistration()">
                <div class="loginField">
                    <input type="text" placeholder="Badge Line 1:" ng-model="badgeLine1" required ng-maxlength=15>
                </div>
                <div class="loginField">
                    <input type="text" placeholder="Badge Line 2:" ng-model="badgeLine2" required ng-maxlength=15>
                </div>
                <div class="optionField">
                    <label>Meet & Greet Event:</label> Yes <input type="radio" ng-model="meetAndGreet" value="YES" checked> No <input type="radio" ng-model="meetAndGreet" value="NO">
                </div>
                <div class="optionField">
                    <label>I am over 18 years old*:</label> Yes <input type="radio" ng-model="ageVerification" value="YES" checked> No <input type="radio" ng-model="ageVerification" value="NO">
                </div>
                <div class="commentsField">
                    <label>Comments:</label><br><textarea cols="50" rows="5" name="comments"></textarea>
                </div>
                <div class="formButtonPosition">
                    <button class="formButton" type="submit" ng-class="{disabled: verifying}" ng-disabled="verifying">
                        <bs-text text="Continue to payment" font-color=white font-size=1.75></bs-text>
                    </button>
                </div>
                <div class="asterickField">
                    <font size=-1>* Persons under 18 years old must be accompanied by a registered adult.</font>
                </div>
            </form>
        </div>
        <div id="eventSwag">
            <h2>Registration Includes ...</h2>
            <ol>
                <li>{{passType}} Event Pass, {{passDates}}</li>
                <li>Keynote Speaker Access</li>
                <li>MOC Display Space</li>
                <li><bs-logo></bs-logo> Name Badge</li>
                <li>Access to LEGO Fan Games</li>
                <li>MOC Prizes</li>
                <li>Swag</li>
                <li>fun, Fun, FUN!</li>
            </ol>
            <h2>Meet & Greet Event Includes ...</h2>
            <ol>
                <li>Dinner {{meetAndGreetDinnerDate}}</li>
                <li>Door Prizes</li>
                <li>Swag</li>
                <li>Access to AFOLs</li>
            </ol>
        </div>
    </span>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
