<div id="eventDashboard">
    <span id="dashboardText">
        <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Hotels" font-color=black></bs-text></h1>
        <div id='HyattHouse'>
            <img src="/images/hotel/HyattHouse.png" align="right;"> 
        </div>
        <div class="oneEMFont">	
  	        <a href="http://www.hyatt.com/hyatt/reservations/flow6/propCheckAvailability.jspphpreplacedpid=slcxs&extCorporateId=g-brik"><span class="mediumFont blueFont">Hyatt House in Sandy Utah</span></a>
	        <ul>
                <li>Negotiated Rates Use Group Code Brik</li>
                    <ul>
                        <li>  $95 - Studio Suite</li>
                        <li>  $105 - 1 Bedroom Suite</li>
                    </ul>
                <li>Continental Breakfast</li>
                <li>Free Shuttle Service</li>
                <li>Within Walking distance to the Expo Center</li>
                <li>Heated Outdoor Pool and Spa</li>
                <li>Full in-Room Kitchen</li>
	        </ul>   
        </div>
    </span>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
<script type="text/javascript" src="/lib/googleAnalytics.js"></script>
