<div id="eventDashboard">
    <div id="dashboardText">
        <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Me" font-color=black></bs-text></h1>
        <div id="mePanes">
            <div class="changePassword">
                <div class="meText"><bs-text text="Change Password" font-color=black font-size=1.25></bs-text></div>
                <div class="loginForm">
                    <form name="changePasswordForm" ng-submit="changePasswordForm.$valid && changePassword()">
                        <div class="loginField">
                            <i class="icons-key icons-sprite-bg"></i>
                            <input placeholder="Current Password" type="password" ng-model="oldPassword" required>
                        </div>
                        <div class="loginField">
                            <i class="icons-key icons-sprite-bg"></i>
                            <input placeholder="New Password - 8 Characters" 
                                type="password" 
                                ng-model="newPassword" 
                                equals={{newPasswordVerify}} 
                                required 
                                ng-min-length=8
                            >
                        </div>
                        <div class="loginField">
                            <i class="icons-key icons-sprite-bg"></i>
                            <input placeholder="New Password Verify" 
                                type="password" 
                                ng-model="newPasswordVerify" 
                                equals={{newPassword}} 
                                required 
                                ng-min-length=8
                            >
                        </div>
                        <div>
                            <button class="formButtonSmall" type="submit" ng-class="{disabled: verifying}" ng-disabled="verifying">
                                <bs-text text="Reset" font-color=white font-size=1.75></bs-text>
                            </button>
                        </div>
                    </form>
                </div>
                <span class="message" ng-show="timer" ng-class="{fadeOut5: timer, redFont: ! success, greenFont: success}">{{displayMessage}}</span>
            </div>
            <div class="events">
                <div class="meText"><bs-text text="Your Events" font-color=black font-size=1.25></bs-text></div>
                <div class="actionButtonSmall" ng-click="clickRegistration(2)">
                    <bs-text text="Sign-up" font-color=white font-size=1.25></bs-text>
                </div>
            </div>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
