<div id="paypalDashboard">
    <div class="paypalText">
        <div>
            <h1><bs-logo font-size=1.25></bs-logo> &#8226; <bs-text text="Payment" font-color=black></bs-text></h1>
        </div>
        <div id='paypalForm'>
            <h3><bs-text text="Your order summary"></bs-text></h3>
            <div class="payment paymentBackground paymentFontOne cellWidth">
                <div class="description"><bs-text text=Description font-color=black></bs-text></div>
                <div class="amount"><bs-text text=Amount font-color=black></bs-text></div>
            </div>
            <div ng-repeat="lineItem in registrationLineItems | filter:{paid:'NO'}">
                <div class="cellWidth">
                    <div class='payment paymentFontOne'>
                        <div class='description'>{{lineItem.lineItem}}</div>
                        <div class='amount'>{{lineItem.amount | currency}}</div>
                    </div>
                    <div class='payment paymentFontTwo'>
                        <div class='description'>Item Price: {{lineItem.amount | currency}}</div>
                    </div>
                    <div class='payment paymentFontTwo'>
                        <div class='description'>Quantity: {{lineItem.quantity}}</div>
                    </div>
                    <div class='payment paymentFontTwo'>
                        <div class='description'>Discount: {{lineItem.discount}}</div>
                    </div>
                </div>
            </div>
            <div class="payment paymentFontTwo lineWidth"><hr></div>
            <div class="payment totalFontOne cellWidth">
                <div class="amount bold">Total {{totalAmount | currency}} USD</div>
            </div>
            <div class="amount">
                <form id="paypalSubmitForm" name='paypal' action='https://www.paypal.com/cgi-bin/webscr'>
                    <div class="formButtonPosition">
                        <button class="formButton" type="submit" ng-click="submitPayment()" ng-class="{disabled: verifying}" ng-disabled="verifying">
                            <bs-text text="Continue to PayPal" font-color=white font-size=1.75></bs-text>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
