<div id="eventDashboard" class="height800">
    <div class="dashboardText height800">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="MOC Registration" font-color=black></bs-text>
            </h1>
        </div>
        <div id="mocForm">
            <div class="loginForm">
                <form name="registrationForm" ng-submit="registrationForm.$valid && submitRegistration()">
                    <div><bs-text text="MOC Title" font-size=1.25></bs-text></div>
                    <div class="loginField">
                        <input ng-model="title" type="text" bs-placeholder="MOC Title (required)" ng-maxlength=47 required maxlength=47>
                    </div>
                    <div><bs-text text="MOC Theme" font-size=1.25></bs-text></div>
                    <div class="loginField">
                        <select class="large" ng-model="theme" ng-options="theme as theme.theme for theme in themeList | filter:theme.selectable:YES"></select>
                    </div>
                    <div><bs-text text="MOC Creator" font-size=1.25></bs-text></div>
                    <div class="loginField">
                        <input ng-model="displayName" type="text" bs-placeholder="DisplayName ({{firstName}} {{lastName}})" required maxlength=33 ng-maxlength=33>
                    </div>
                    <div><bs-text text="MOC Image" font-size=1.25></bs-text></div>
                    <div class="loginField">
                        <input type="text" ng-model="mocImageUrl" bs-placeholder="Moc Image URL (flickr?)">
                    </div>
                    <div><bs-text text="MOC Dimensions in 32x32 baseplates" font-size=1.25></bs-text></div>
                    <div class="optionField">
                        Width: <select class="small" ng-model="baseplateWidth" ng-options="width for width in width"></select>
                        Depth: <select class="small" ng-model="baseplateDepth" ng-options="depth for depth in depth"></select>
                    </div>
                    <div><bs-text text="MOC Description" font-size=1.25></bs-text></div>
                    <div class="commentsField">
                        <textarea bs-placeholder="Description ..."  ng-model="description" maxlength=146></textarea>
                    </div>
                    <div class="formButtonPosition">
                        <button class="formButton" type="submit" ng-class="{disabled: verifying}" ng-disabled="verifying">
                            <bs-text text="Register My MOC" font-color=white font-size=1.75></bs-text>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="mocRegistrationCard">
            <div class="sampleFont">Sample</div>
            <div><bs-logo font-size=2></bs-logo></div>
            <div class="sampleMocTitle">{{title}}</div>
            <div class="sampleMocDescription">{{description}}</div>
            <div class="sampleMocCreator">{{displayName}}</div>
            <div id="sampleBrickSlopesLogo"><img src="/images/logo/brickSlopes_noword_50px.png"></div>
        </div>
        <div id="mocRegistrationCatagoriesCard">
            <bs-theme></bs-theme>
        </div>
    </div>
    <div><bs-modal title="Success">Congratulations! Your MOC has been submitted.<p>Would you like to add another MOC?</bs-modal></div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
