<div id="eventMeDashboard">
    <div class="eventMeText">
        <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Me" font-color=black></bs-text></h1>
        <div id="mePanes">
            <bs-user-information></bs-user-information>

            <bs-registered-events ng-if="displayRegisterEventCTA"></bs-registered-events>
            <bs-event-registration-cta ng-if="! displayRegisterEventCTA"></bs-event-registration-cta>

            <bs-change-password></bs-change-password>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
