<div id="eventDashboard">
    <span id="dashboardText">
        <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Themes" font-color=black></bs-text></h1>
        <div id="leftTheme">
            <div class="header"><bs-text text="AFOL Voting" font-color=blue font-size=2.5></bs-text></div>
            <div ng-repeat="theme in themeList | filter:'AFOL' | orderBy:'theme'">
                <bs-theme color=blue></bs-theme>
            </div>
        </div>
        <div id="rightTheme">
            <div class="header"><bs-text text="Public Voting" font-color=red font-size=2.5></bs-text></div>
            <div ng-repeat="theme in themeList | filter:'PUBLIC' | orderBy:'theme'">
                <bs-theme color=red></bs-theme>
            </div>
        </div>
    </span>
   <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
