/* line 9, ../../compass/assets/sass/afols.scss */
#dashboardCloseButton, div#reserveStarWarsSet div#reserveCloseButton {
  position: absolute;
  background: url("/images/closeButton_blue.png") no-repeat scroll 0 center transparent;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  z-index: 6;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

/* line 21, ../../compass/assets/sass/afols.scss */
.dashboardText {
  position: absolute;
  border-radius: 25px;
  padding: 15px;
  font-size: 100%;
  text-align: left;
  width: 1190px;
  color: black;
  background: white;
  display: table;
  line-height: normal;
  vertical-align: middle;
  height: auto;
}
/* line 35, ../../compass/assets/sass/afols.scss */
.dashboardText #login {
  position: absolute;
  left: 10px;
  top: 175px;
  height: 350px;
  width: 590px;
  text-align: center;
}
/* line 43, ../../compass/assets/sass/afols.scss */
.dashboardText #login .loginForm {
  position: relative;
  left: 170px;
  width: 250px;
}
/* line 48, ../../compass/assets/sass/afols.scss */
.dashboardText #login .loginForm .loginField {
  margin-bottom: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  height: 42.5px;
  padding-top: 7.5px;
}
/* line 59, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpForm, .dashboardText #resetPasswordForm {
  position: absolute;
  right: 10px;
  top: 75px;
  height: 350px;
  width: 590px;
  opacity: 0;
}
/* line 67, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpForm .loginForm, .dashboardText #resetPasswordForm .loginForm {
  position: relative;
  left: 100px;
  width: 250px;
}
/* line 72, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpForm .loginForm .loginField, .dashboardText #resetPasswordForm .loginForm .loginField {
  margin-bottom: 20px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  height: 42.5px;
  padding-top: 7.5px;
  text-align: center;
}
/* line 84, ../../compass/assets/sass/afols.scss */
.dashboardText #resetPasswordForm {
  top: 250px;
}
/* line 89, ../../compass/assets/sass/afols.scss */
.dashboardText #loginDivider {
  position: absolute;
  left: 609px;
  width: 0;
  height: 400px;
  top: 150px;
  border: 1px solid black;
  border-radius: 2px;
}
/* line 100, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpText {
  position: absolute;
  right: 10px;
  top: 175px;
  height: 350px;
  width: 590px;
}
/* line 107, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpText .center {
  left: 105px;
}
/* line 111, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpText .loginForm {
  position: absolute;
  left: 0;
  width: 590px;
  text-align: center;
}
/* line 117, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpText .loginForm .loginField {
  margin: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  height: 42.5px;
  padding-top: 7.5px;
}
/* line 128, ../../compass/assets/sass/afols.scss */
.dashboardText #signUpButton {
  position: absolute;
  left: 110px;
  top: 175px;
}

/* line 136, ../../compass/assets/sass/afols.scss */
#eventRegistration #discountPriceInformation, #eventRegistration #fullPriceInformation {
  position: absolute;
  left: 25px;
  height: 215px;
  top: 100px;
  width: 550px;
  border: 1px solid black;
  padding-left: 4px;
  background: lightgreen;
  border-radius: 4px;
  text-align: center;
}
/* line 149, ../../compass/assets/sass/afols.scss */
#eventRegistration #fullPriceInformation {
  left: 600px;
  background: lightgrey;
}
/* line 155, ../../compass/assets/sass/afols.scss */
#eventRegistration #eventDivider {
  position: absolute;
  left: 25px;
  height: 5px;
  top: 312px;
  width: 1130px;
}
/* line 164, ../../compass/assets/sass/afols.scss */
#eventRegistration #eventSwag {
  position: absolute;
  height: 700px;
  width: 544px;
  left: 600px;
  top: 325px;
}
/* line 171, ../../compass/assets/sass/afols.scss */
#eventRegistration #eventSwag .packages {
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 1;
  padding-left: 10px;
  background: lightgreen;
  width: 544px;
  margin-bottom: 10px;
}
/* line 181, ../../compass/assets/sass/afols.scss */
#eventRegistration #eventSwag .packages ol {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* line 186, ../../compass/assets/sass/afols.scss */
#eventRegistration #eventSwag .packages li {
  list-style-type: disc;
  text-align: left;
  font-size: 1.05em;
  padding-bottom: 5px;
}
/* line 195, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm {
  position: absolute;
  left: 25px;
  width: 550px;
  height: 950px;
  top: 325px;
  padding-left: 4px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}
/* line 206, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .optionField, #eventRegistration .registrationForm .fullBadgeOptionField, #eventRegistration .registrationForm .asterickField {
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 352px;
  height: 35px;
  padding-left: 10px;
  padding-top: 20px;
  left: 93px;
  text-align: left;
}
/* line 220, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .group {
  position: relative;
  width: 300px;
  left: 50px;
  height: 25px;
  text-align: left;
}
/* line 228, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .fullBadgeOptionField {
  height: 200px;
}
/* line 232, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .fullBadgeOptionField .brickCenter {
  margin-bottom: 5px;
  margin-top: 10px;
}
/* line 236, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .fullBadgeOptionField .brickCenter .legoBrick {
  height: 43.0px;
  padding-top: 5px;
  margin-left: 0px;
}
/* line 241, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .fullBadgeOptionField .brickCenter .legoBrick input {
  border: 1px solid black;
  margin-left: 0px;
  width: 315px;
  height: 40px;
  text-align: center;
  font-size: 1.25em;
}
/* line 250, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .fullBadgeOptionField .brickCenter .legoBrick .logoBrick {
  margin-left: 10px;
  color: white;
  width: 300px;
  font-size: 1.5em;
  padding-top: 8px;
}
/* line 261, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .loginField {
  margin-bottom: 20px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 400px;
  height: 42.5px;
  padding-top: 7.5px;
  text-align: left;
}
/* line 272, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .asterickField {
  width: 425px;
  padding-top: 15px;
  left: 0;
}
/* line 279, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .commentsField {
  margin-bottom: 20px;
}
/* line 282, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm .commentsField textarea {
  width: 365px;
  height: 135px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
}
/* line 292, ../../compass/assets/sass/afols.scss */
#eventRegistration .registrationForm select {
  margin-top: -25px;
  width: 105px;
  height: 25px;
  font-size: 14px;
  color: #2F3132;
}

/* line 302, ../../compass/assets/sass/afols.scss */
#mePanes {
  position: absolute;
  top: 100px;
  left: 4px;
  width: 1234px;
  height: 700px;
}
/* line 309, ../../compass/assets/sass/afols.scss */
#mePanes .changePassword {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0px 5px 5px 0px;
  border: 2px solid black;
  border-radius: 12px;
}
/* line 318, ../../compass/assets/sass/afols.scss */
#mePanes .changePassword .loginForm {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
}
/* line 324, ../../compass/assets/sass/afols.scss */
#mePanes .changePassword .loginForm .loginField {
  margin-bottom: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  padding-top: 5px;
}
/* line 332, ../../compass/assets/sass/afols.scss */
#mePanes .changePassword .loginForm .loginField input {
  height: 25px;
}
/* line 338, ../../compass/assets/sass/afols.scss */
#mePanes .changePassword .message {
  position: absolute;
  top: 0;
  width: 300px;
  text-align: center;
  height: 130px;
  padding-top: 70px;
  background-color: white;
  border-radius: 12px;
}
/* line 350, ../../compass/assets/sass/afols.scss */
#mePanes .events {
  position: relative;
  float: left;
  width: 350px;
  height: 400px;
  margin: 0px 5px 5px 0px;
  border: 2px solid black;
  border-radius: 12px;
}
/* line 359, ../../compass/assets/sass/afols.scss */
#mePanes .events .info {
  position: relative;
  width: 310px;
  height: auto;
  min-height: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}
/* line 368, ../../compass/assets/sass/afols.scss */
#mePanes .events .info table {
  margin-bottom: 10px;
}
/* line 372, ../../compass/assets/sass/afols.scss */
#mePanes .events .info td {
  width: 200px;
  text-align: left;
}
/* line 378, ../../compass/assets/sass/afols.scss */
#mePanes .events .brickCenter {
  position: relative;
  width: 100%;
  text-align: center;
}
/* line 385, ../../compass/assets/sass/afols.scss */
#mePanes .meText {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 394, ../../compass/assets/sass/afols.scss */
#panes {
  position: relative;
  top: 0;
  right: 0;
  width: 1238px;
}

/* line 401, ../../compass/assets/sass/afols.scss */
#eventContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 750px;
  height: 100px;
}

/* line 409, ../../compass/assets/sass/afols.scss */
.myEventPane {
  position: relative;
  float: left;
  width: 300px;
  height: 405px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 12px;
}
/* line 419, ../../compass/assets/sass/afols.scss */
.myEventPane .eventText {
  position: relative;
  width: 280px;
  padding: 10px;
  z-index: 2;
  background-color: white;
  color: black;
  font-size: 2em;
  border-radius: 10px;
  padding-top: 155px;
  height: 240px;
}
/* line 432, ../../compass/assets/sass/afols.scss */
.myEventPane .eventImageText {
  position: relative;
  top: 185px;
  text-align: center;
}

/* line 440, ../../compass/assets/sass/afols.scss */
.eventPane {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 12px;
}
/* line 450, ../../compass/assets/sass/afols.scss */
.eventPane .eventText {
  position: relative;
  width: 280px;
  height: 140px;
  padding: 10px;
  padding-top: 50px;
  z-index: 2;
  background-color: white;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}
/* line 463, ../../compass/assets/sass/afols.scss */
.eventPane .eventImageText {
  position: relative;
  top: 85px;
  text-align: center;
}
/* line 469, ../../compass/assets/sass/afols.scss */
.eventPane .adminText {
  position: relative;
  top: 80px;
  text-align: center;
}

/* line 476, ../../compass/assets/sass/afols.scss */
.eventImage {
  position: relative;
  width: 300px;
  height: 200px;
  z-index: 2;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 150%;
  border-radius: 10px;
}

/* line 488, ../../compass/assets/sass/afols.scss */
.eventBrickSlopesLogo {
  position: absolute;
  z-index: 20;
  bottom: 2px;
  background-image: url("/images/logo/brickSlopes_noword_50px.png");
}

/* line 495, ../../compass/assets/sass/afols.scss */
.smallLogo {
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

/* line 501, ../../compass/assets/sass/afols.scss */
.mediumLogo {
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
}

/* line 507, ../../compass/assets/sass/afols.scss */
.logoLeft {
  left: 1px;
}

/* line 511, ../../compass/assets/sass/afols.scss */
.logoRight {
  right: 1px;
}

/* line 515, ../../compass/assets/sass/afols.scss */
#themes {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 1220px;
}

/* line 522, ../../compass/assets/sass/afols.scss */
.theme {
  position: relative;
  float: left;
  border: 1px solid black;
  width: 585px;
  padding: 5px;
  height: 250px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}
/* line 533, ../../compass/assets/sass/afols.scss */
.theme .header {
  width: 100%;
  text-align: center;
}

/* line 539, ../../compass/assets/sass/afols.scss */
.theme ul {
  padding: 0;
  margin-left: 45px;
  margin-top: 5px;
}

/* line 545, ../../compass/assets/sass/afols.scss */
.afolRow {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding: 10px;
}
/* line 551, ../../compass/assets/sass/afols.scss */
.afolRow .afolName {
  font-size: 2.0em;
  font-weight: bold;
}
/* line 556, ../../compass/assets/sass/afols.scss */
.afolRow .afolCity {
  font-size: 1.0em;
  font-weight: bold;
}
/* line 561, ../../compass/assets/sass/afols.scss */
.afolRow .leftPosition {
  position: absolute;
  width: 350px;
  height: 80px;
  left: 10px;
}
/* line 568, ../../compass/assets/sass/afols.scss */
.afolRow .rightPosition {
  position: absolute;
  width: 350px;
  height: 25px;
  bottom: 10px;
  right: 10px;
  text-align: right;
}
