/* line 4, ../../compass/assets/sass/afols.scss */
div#eventDashboard div#dashboardCloseButton, div#reserveStarWarsSet div#reserveCloseButton {
  position: absolute;
  background: url("/images/closeButton_blue.png") no-repeat scroll 0px center transparent;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  z-index: 6;
  top: -20px;
  right: -20px;
  cursor: pointer;
}

/* line 16, ../../compass/assets/sass/afols.scss */
#dashboardText {
  position: relative;
  border-radius: 25px;
  padding: 15px;
  font-size: 100%;
  text-align: left;
  width: 1220px;
  color: black;
  background: white;
  display: table;
  line-height: normal;
  display: table-cell;
  vertical-align: middle;
  border: 0px solid red;
}
/* line 31, ../../compass/assets/sass/afols.scss */
#dashboardText #login {
  position: absolute;
  left: 10px;
  top: 168.75px;
  height: 337.5px;
  width: 590px;
  text-align: center;
}
/* line 39, ../../compass/assets/sass/afols.scss */
#dashboardText #login .loginForm {
  position: relative;
  left: 170px;
  width: 250px;
}
/* line 44, ../../compass/assets/sass/afols.scss */
#dashboardText #login .loginForm .loginField {
  margin-bottom: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  height: 42.5px;
  padding-top: 7.5px;
}
/* line 56, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpForm, #dashboardText #resetPasswordForm {
  position: absolute;
  right: 10px;
  top: 75px;
  height: 337.5px;
  width: 590px;
  border: none;
  opacity: 0;
}
/* line 65, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpForm .loginForm, #dashboardText #resetPasswordForm .loginForm {
  position: relative;
  left: 100px;
  width: 250px;
}
/* line 70, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpForm .loginForm .loginField, #dashboardText #resetPasswordForm .loginForm .loginField {
  margin-bottom: 20px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  height: 42.5px;
  padding-top: 7.5px;
  text-align: center;
}
/* line 82, ../../compass/assets/sass/afols.scss */
#dashboardText #resetPasswordForm {
  top: 250px;
}
/* line 87, ../../compass/assets/sass/afols.scss */
#dashboardText #loginDivider {
  position: absolute;
  left: 609px;
  width: 0px;
  height: 375px;
  top: 150px;
  border: 1px solid black;
  border-radius: 2px;
}
/* line 98, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpText {
  position: absolute;
  right: 10px;
  top: 168.75px;
  height: 337.5px;
  width: 590px;
  border: none;
}
/* line 106, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpText .center {
  left: 105px;
}
/* line 110, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpText .loginForm {
  position: absolute;
  left: 0px;
  width: 590px;
  border: none;
  text-align: center;
}
/* line 117, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpText .loginForm .loginField {
  margin: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  height: 42.5px;
  padding-top: 7.5px;
}
/* line 128, ../../compass/assets/sass/afols.scss */
#dashboardText #signUpButton {
  position: absolute;
  left: 110px;
  top: 175px;
}

/* line 135, ../../compass/assets/sass/afols.scss */
#eventSwag li {
  list-style-type: disc;
  text-align: left;
  font-size: 1.25em;
  padding-bottom: 5px;
}

/* line 142, ../../compass/assets/sass/afols.scss */
#dashboardText div#eventSwag {
  border-radius: 25px;
  position: absolute;
  height: auto;
  width: 450px;
  right: 20px;
  top: 150px;
  border: 1px solid black;
  z-index: 1;
  background: white;
  padding-left: 10px;
}

/* line 155, ../../compass/assets/sass/afols.scss */
#panes {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1238px;
  height: 615px;
  border: 0px solid yellow;
}

/* line 164, ../../compass/assets/sass/afols.scss */
#eventContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 750px;
  height: 100px;
}

/* line 172, ../../compass/assets/sass/afols.scss */
.eventPane {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 5 5 0;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 12px;
}

/* line 183, ../../compass/assets/sass/afols.scss */
.eventImage {
  position: relative;
  width: 300px;
  height: 200px;
  z-index: 2;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 150%;
  border-radius: 10px;
}

/* line 195, ../../compass/assets/sass/afols.scss */
.eventImageText {
  position: relative;
  top: 85px;
  text-align: center;
}

/* line 201, ../../compass/assets/sass/afols.scss */
.eventBrickSlopesLogo {
  position: absolute;
  z-index: 2;
  left: 1px;
  bottom: 2px;
  background-image: url("/images/logo/brickSlopes_noword_50px.png");
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
}

/* line 212, ../../compass/assets/sass/afols.scss */
.eventText {
  position: relative;
  width: 280px;
  height: 140px;
  padding: 10px;
  padding-top: 50px;
  z-index: 2;
  background-color: white;
  color: black;
  font-size: 2em;
  border-radius: 10px;
}
