@import url("/css/bsbits.css");
@import url("/css/icons.css");
@import url("/css/animation.css");
@import url("/css/admin.css");
@import url("/css/afols.css");
@import url("/css/payment.css");
@import url("/css/moc.css");
@import url("/css/collections.css");
@import url("/css/keynote.css");
@import url("/css/vendor.css");
@import url("/css/guest.css");
@import url("/css/lego.css");
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* line 74, ../../compass/assets/sass/brickslopes.scss */
  #dashboard, #eventDashboard, #panes {
    height: 795px;
  }

  /* line 78, ../../compass/assets/sass/brickslopes.scss */
  #dashboardText {
    min-height: 765px;
    height: auto;
  }

  /* line 83, ../../compass/assets/sass/brickslopes.scss */
  #splashPage {
    height: 685px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* line 91, ../../compass/assets/sass/brickslopes.scss */
  #dashboard, #eventDashboard, #panes {
    height: 795px;
  }

  /* line 95, ../../compass/assets/sass/brickslopes.scss */
  #dashboardText {
    height: auto;
    min-height: 765px;
  }

  /* line 100, ../../compass/assets/sass/brickslopes.scss */
  #splashPage {
    height: 685px;
  }
}
/* line 105, ../../compass/assets/sass/brickslopes.scss */
#brickslopes {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 1250px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 117, ../../compass/assets/sass/brickslopes.scss */
#header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1230px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid white;
}
/* line 127, ../../compass/assets/sass/brickslopes.scss */
#header #eventContainer {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 700px;
  height: 70px;
  border: 0px solid white;
}
/* line 135, ../../compass/assets/sass/brickslopes.scss */
#header #eventContainer a {
  margin: 10px;
}
/* line 140, ../../compass/assets/sass/brickslopes.scss */
#header #afolContainer {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 300px;
  height: 20px;
  border: none;
  color: white;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}

/* line 154, ../../compass/assets/sass/brickslopes.scss */
#dashboard, #eventDashboard {
  position: relative;
  top: 25px;
  left: 0;
  width: 1245px;
  margin-left: auto;
  margin-right: auto;
}

/* line 163, ../../compass/assets/sass/brickslopes.scss */
#eventDashboard {
  background-color: white;
  border-radius: 25px;
}

/* line 169, ../../compass/assets/sass/brickslopes.scss */
#splashPage {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 1218px;
  text-align: center;
  border: 5px solid #35469a;
  background: white;
  border-radius: 10px;
}
/* line 179, ../../compass/assets/sass/brickslopes.scss */
#splashPage #splashText {
  position: absolute;
  border: 0px solid yellow;
  top: 5px;
  left: 5px;
  height: 400px;
  width: 425px;
  border-radius: 10px;
  padding: 5px;
  font-size: 2.05em;
  text-align: center;
  color: black;
  background: white;
}
/* line 194, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome {
  position: absolute;
  border-radius: 10px;
  right: 60px;
  top: 25px;
  padding: 10px;
  font-size: 2.0em;
  text-align: center;
  height: 600px;
  width: 630px;
  color: black;
  background: white;
  vertical-align: middle;
  z-index: 3;
  border: 5px solid #35469a;
}
/* line 210, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .bigger2015 {
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 300px;
  border: none;
}
/* line 218, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs {
  position: relative;
  left: 131.25px;
  width: 350px;
  border: none;
  text-align: left;
}
/* line 225, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .loginField, #splashPage .splashTextHome #splashTextEmailUs .captchaField {
  margin-bottom: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 340px;
  height: 42.5px;
  padding-top: 7.5px;
  padding-left: 10px;
}
/* line 235, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .loginField input, #splashPage .splashTextHome #splashTextEmailUs .captchaField input {
  width: 325px;
}
/* line 242, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .captchaField .captcha {
  position: absolute;
  right: 5px;
  bottom: 64px;
  font-size: 0.5em;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding-top: 3px;
  height: 42px;
  width: 150px;
  text-align: center;
}
/* line 256, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .captchaField input {
  width: 150px;
}
/* line 262, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .commentsField textarea {
  width: 350px;
  height: 100px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
}
/* line 272, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashFigJackSparrow {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 50px;
  right: -95px;
}
/* line 280, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashFigEmmet {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 150px;
  right: 95px;
}
/* line 288, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashFigWyldStyle {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 150px;
  right: 25px;
}
/* line 296, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashMilleniumFalcon {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 25px;
  right: -95px;
}
/* line 304, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashFigBatman {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 72px;
  left: -35px;
}
/* line 312, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashFigSuperMan {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 65px;
  left: -35px;
}
/* line 320, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashFigPresidentBusiness {
  position: absolute;
  z-index: -1;
  height: 50px;
  bottom: 165px;
  left: 5px;
}
/* line 328, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashFigVitruvius {
  position: absolute;
  z-index: -1;
  height: 50px;
  bottom: 325px;
  right: 15px;
}
/* line 336, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome .splashCrowd {
  position: absolute;
  z-index: -1;
  height: 50px;
  bottom: 265px;
  left: -15px;
  border-radius: 10px;
}
/* line 346, ../../compass/assets/sass/brickslopes.scss */
#splashPage .imageLeft {
  position: absolute;
  top: 125px;
  left: 50px;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
/* line 357, ../../compass/assets/sass/brickslopes.scss */
#splashPage .imageRight {
  position: absolute;
  top: 325px;
  left: 225px;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
/* line 368, ../../compass/assets/sass/brickslopes.scss */
#splashPage .publicImage {
  height: 250px;
}
/* line 373, ../../compass/assets/sass/brickslopes.scss */
#splashPage #splashDDCouch {
  position: absolute;
  z-index: 5;
  height: 50px;
  width: 100px;
  bottom: 160px;
  left: 30px;
}
/* line 382, ../../compass/assets/sass/brickslopes.scss */
#splashPage #publicTickets {
  position: absolute;
  z-index: 2;
  height: 225px;
  bottom: 25px;
  width: 400px;
  left: 15px;
  border: 5px solid #35469a;
  border-radius: 10px;
}
/* line 392, ../../compass/assets/sass/brickslopes.scss */
#splashPage #publicTickets #publicTicketsText {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 7px;
  height: 125px;
  bottom: 25px;
  width: 200px;
  border: none;
  border-radius: 10px;
}
/* line 404, ../../compass/assets/sass/brickslopes.scss */
#splashPage #publicTickets .buyTicketsButton {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

/* line 412, ../../compass/assets/sass/brickslopes.scss */
#splashPageCTA {
  position: absolute;
  width: 1245px;
  bottom: 65px;
  left: 15px;
  width: 1218px;
  height: 90px;
  text-align: center;
  border: none;
  z-index: 100;
  display: none;
}
/* line 424, ../../compass/assets/sass/brickslopes.scss */
#splashPageCTA #countDown {
  position: absolute;
  right: 10px;
  border: none;
  height: 90px;
  bottom: 0;
  width: 500px;
}
/* line 433, ../../compass/assets/sass/brickslopes.scss */
#splashPageCTA #childPackages {
  position: absolute;
  left: 100px;
  height: 90px;
  bottom: 0;
  width: 500px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
}
/* line 443, ../../compass/assets/sass/brickslopes.scss */
#splashPageCTA #childPackages .text {
  position: absolute;
  left: 2px;
  height: 90px;
  width: 300px;
  top: 2px;
  border: none;
}
/* line 452, ../../compass/assets/sass/brickslopes.scss */
#splashPageCTA #childPackages .buyTicketsButton {
  position: absolute;
  right: 25px;
  top: 15px;
}

/* line 460, ../../compass/assets/sass/brickslopes.scss */
#logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 466, ../../compass/assets/sass/brickslopes.scss */
#copyright {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1245px;
  height: auto;
  z-index: 2;
  color: white;
  text-align: center;
}

/* line 483, ../../compass/assets/sass/brickslopes.scss */
.fig {
  height: 175px;
}

/* line 487, ../../compass/assets/sass/brickslopes.scss */
.figLarge {
  height: 225px;
}

/* line 491, ../../compass/assets/sass/brickslopes.scss */
.figXLarge {
  height: 250px;
}

/* line 495, ../../compass/assets/sass/brickslopes.scss */
img#miniAFOLRegistrationImage {
  height: 75px;
}

/* line 499, ../../compass/assets/sass/brickslopes.scss */
img#miniStarWars {
  height: 125px;
}
