@import url("/css/afols.css");
@import url("/css/payment.css");
@import url("/css/icons.css");
@import url("/css/bsbits.css");
/* line 9, ../../compass/assets/sass/brickslopes.scss */
body {
  background-color: black;
  font-family: "arial";
}

/* CSS Reset for Anchor tags - Becasue IE is stupid*/
/* line 15, ../../compass/assets/sass/brickslopes.scss */
img {
  border: 0;
}

/* line 19, ../../compass/assets/sass/brickslopes.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 24, ../../compass/assets/sass/brickslopes.scss */
a:link {
  color: white;
  text-decoration: none;
}

/* line 29, ../../compass/assets/sass/brickslopes.scss */
a:hover {
  color: white;
  text-decoration: none;
}

/* line 34, ../../compass/assets/sass/brickslopes.scss */
a:active {
  color: white;
  text-decoration: none;
}

/* line 39, ../../compass/assets/sass/brickslopes.scss */
a:visited {
  color: white;
  text-decoration: none;
}

/* line 44, ../../compass/assets/sass/brickslopes.scss */
#brickslopes {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1250px;
  min-height: 815px;
  overflow: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 56, ../../compass/assets/sass/brickslopes.scss */
#header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1230px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid white;
}
/* line 66, ../../compass/assets/sass/brickslopes.scss */
#header #eventContainer {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 700px;
  height: 70px;
  border: 0px solid white;
}
/* line 74, ../../compass/assets/sass/brickslopes.scss */
#header #eventContainer a {
  margin: 10px;
}
/* line 79, ../../compass/assets/sass/brickslopes.scss */
#header #afolContainer {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 200px;
  height: 20px;
  border: 0px solid yellow;
  color: white;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}

/* line 93, ../../compass/assets/sass/brickslopes.scss */
#splashPageDashboard {
  position: relative;
  top: 25px;
  left: 0px;
  width: 1200px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid red;
}

/* line 104, ../../compass/assets/sass/brickslopes.scss */
div#splashPage {
  position: absolute;
  width: 1200px;
  height: 600px;
  top: 0px;
  left: 0px;
  text-align: center;
  display: table;
  border: 0px solid blue;
  background: white;
  border-radius: 10px;
}

/* line 117, ../../compass/assets/sass/brickslopes.scss */
div#splashPage div#splashText {
  position: absolute;
  border: 0px solid yellow;
  top: 5px;
  left: 5px;
  height: 400px;
  width: 425px;
  border-radius: 10px;
  padding: 5px;
  font-size: 2.05em;
  text-align: center;
  color: black;
  background: white;
}

/* line 132, ../../compass/assets/sass/brickslopes.scss */
div#splashPage div.splashTextHome {
  position: absolute;
  border-radius: 10px;
  right: 60px;
  bottom: 25px;
  padding: 10px;
  font-size: 2.0em;
  text-align: center;
  height: 535px;
  width: 630px;
  color: black;
  background: white;
  vertical-align: middle;
  z-index: 5;
  border: 5px solid #35469A;
}

/* line 149, ../../compass/assets/sass/brickslopes.scss */
div#splashTextWhat #sponsorText {
  position: absolute;
  padding-top: 5px;
  bottom: 10px;
  right: 60px;
  height: 35px;
  width: 300px;
  border: 5px solid #ff0500;
  border-radius: 10px;
  cursor: pointer;
}

/* line 161, ../../compass/assets/sass/brickslopes.scss */
#logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 167, ../../compass/assets/sass/brickslopes.scss */
.communicationLogos {
  width: 50px;
  height: 50px;
}

/* line 172, ../../compass/assets/sass/brickslopes.scss */
div#splashPage {
  position: absolute;
  top: 0px;
  width: 1200px;
  border: 5px solid #35469A;
  background: white;
}

/* line 180, ../../compass/assets/sass/brickslopes.scss */
#copyright {
  position: relative;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1200px;
  height: auto;
  z-index: 2;
  color: white;
  text-align: center;
}

/* line 195, ../../compass/assets/sass/brickslopes.scss */
div#splashPage div#splashFigBatman {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 250px;
  left: -35px;
}

/* line 203, ../../compass/assets/sass/brickslopes.scss */
div#splashTexthome div#splashFigJackSparrow {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 250px;
  right: -95px;
}

/* line 211, ../../compass/assets/sass/brickslopes.scss */
div#splashPage div#splashFigSuperMan {
  position: absolute;
  z-index: 5;
  height: 50px;
  width: 100px;
  bottom: 155px;
  left: -35px;
}

/* line 220, ../../compass/assets/sass/brickslopes.scss */
div#splashPage div#publicTickets {
  position: absolute;
  z-index: 2;
  height: 225px;
  bottom: 25px;
  width: 400px;
  left: 15px;
  border: 5px solid #35469A;
  border-radius: 10px;
}

/* line 231, ../../compass/assets/sass/brickslopes.scss */
div#publicTickets div#publicTicketsText {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 7px;
  height: 125px;
  bottom: 25px;
  width: 300px;
  border: 0px solid black;
  border-radius: 10px;
}

/* line 243, ../../compass/assets/sass/brickslopes.scss */
div#splashPageDashboard div#afolRegistration {
  position: absolute;
  z-index: 4;
  left: 0px;
  height: 50px;
  bottom: 5px;
  width: 1200px;
  background-color: white;
  border: 5px solid #35469A;
  border-radius: 10px;
  text-align: center;
}

/* line 256, ../../compass/assets/sass/brickslopes.scss */
div#afolRegistration span#afolRegistrationText {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 450px;
  border: 0px solid #35469A;
}

/* line 264, ../../compass/assets/sass/brickslopes.scss */
div#afolRegistration div#starWarsFlyIn {
  position: absolute;
  right: 50px;
  top: 2px;
  height: 50px;
  width: 300px;
  border: 0px solid #ff0500;
}

/* line 273, ../../compass/assets/sass/brickslopes.scss */
div#afolRegistration div#starWarsPic {
  position: absolute;
  right: 415px;
  bottom: 50px;
  height: 50px;
  width: 100px;
  border: 0px solid #ff0500;
}

/* line 282, ../../compass/assets/sass/brickslopes.scss */
img#batman {
  height: 200px;
}

/* line 286, ../../compass/assets/sass/brickslopes.scss */
div#afolRegistration div#afolRegistrationImage {
  position: absolute;
  left: 450px;
  top: -12px;
  height: 50px;
  width: 100px;
  border: 0px solid #ff0500;
}

/* line 295, ../../compass/assets/sass/brickslopes.scss */
img#superman {
  height: 175px;
}

/* line 299, ../../compass/assets/sass/brickslopes.scss */
img#miniAFOLRegistrationImage {
  height: 75px;
}

/* line 303, ../../compass/assets/sass/brickslopes.scss */
img#miniStarWars {
  height: 125px;
}

/* line 307, ../../compass/assets/sass/brickslopes.scss */
label.normalFont {
  color: black;
}

/* line 311, ../../compass/assets/sass/brickslopes.scss */
label.errorFont {
  color: red;
}

/* line 315, ../../compass/assets/sass/brickslopes.scss */
.mocListContainer {
  width: 960px;
  border: 0px solid black;
}

/* line 320, ../../compass/assets/sass/brickslopes.scss */
.singleMocListContainer {
  width: 960px;
  height: 75px;
  border: 1px solid black;
  margin-bottom: 25px;
  border-radius: 10px;
}

/* line 328, ../../compass/assets/sass/brickslopes.scss */
div.mocListTitle {
  position: relative;
  width: 550px;
  border: 0px solid black;
  text-align: center;
  font-size: 1.50em;
  float: left;
  padding-top: 10px;
  height: auto;
}

/* line 339, ../../compass/assets/sass/brickslopes.scss */
div.mocListBuilder {
  position: relative;
  width: 400px;
  border: 0px solid black;
  text-align: center;
  font-size: 1.25em;
  float: left;
  padding-top: 10px;
  height: auto;
}

/* line 350, ../../compass/assets/sass/brickslopes.scss */
table.guestList {
  width: 750px;
  border: 0px solid black;
}

/* line 355, ../../compass/assets/sass/brickslopes.scss */
td.guestListName {
  width: 400px;
  border: 0px solid black;
  text-align: center;
  font-size: 1.50em;
  padding-top: 25px;
}

/* line 363, ../../compass/assets/sass/brickslopes.scss */
td.guestListState {
  width: 350px;
  border: 0px solid black;
  text-align: center;
  font-size: 1.50em;
  padding-top: 25px;
}

/* line 371, ../../compass/assets/sass/brickslopes.scss */
table.vendorList {
  width: 750px;
  border: 0px solid black;
}

/* line 376, ../../compass/assets/sass/brickslopes.scss */
td.vendorName {
  width: 600px;
  border: 0px solid black;
  text-align: center;
  font-size: 1.50em;
  padding-top: 25px;
}

/* line 384, ../../compass/assets/sass/brickslopes.scss */
td.vendorBoothNumber {
  width: 150px;
  border: 0px solid black;
  text-align: center;
  font-size: 1.25em;
  padding-top: 25px;
}

/* line 392, ../../compass/assets/sass/brickslopes.scss */
.blueFont {
  color: #35469A;
}

/* line 396, ../../compass/assets/sass/brickslopes.scss */
span.whiteFont {
  color: #FFFFFF;
}

/* line 400, ../../compass/assets/sass/brickslopes.scss */
span.redFont {
  color: #ff0500;
}

/* line 404, ../../compass/assets/sass/brickslopes.scss */
.bold {
  font-weight: bold;
}

/* line 408, ../../compass/assets/sass/brickslopes.scss */
.italic {
  font-style: italic;
}

/* 
  BrickSlopes Blue -> #1224FC and 93, 86, 1, 0 / 85, 62, 3, 0 35469A
*/
