@import url("/css/bsbits.css");
@import url("/css/icons.css");
@import url("/css/animation.css");
@import url("/css/afols.css");
@import url("/css/payment.css");
@import url("/css/moc.css");
@import url("/css/collections.css");
@import url("/css/keynote.css");
@import url("/css/vendor.css");
@import url("/css/guest.css");
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* line 72, ../../compass/assets/sass/brickslopes.scss */
  #dashboard, #eventDashboard, #panes {
    height: 795px;
  }

  /* line 76, ../../compass/assets/sass/brickslopes.scss */
  #dashboardText {
    height: 665px;
  }

  /* line 80, ../../compass/assets/sass/brickslopes.scss */
  #splashPage {
    height: 685px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* line 88, ../../compass/assets/sass/brickslopes.scss */
  #dashboard, #eventDashboard, #panes {
    height: 795px;
  }

  /* line 92, ../../compass/assets/sass/brickslopes.scss */
  #dashboardText {
    height: 665px;
  }

  /* line 96, ../../compass/assets/sass/brickslopes.scss */
  #splashPage {
    height: 685px;
  }
}
/* line 101, ../../compass/assets/sass/brickslopes.scss */
#brickslopes {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 1250px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 113, ../../compass/assets/sass/brickslopes.scss */
#header {
  position: relative;
  top: 0px;
  left: 0px;
  width: 1230px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid white;
}
/* line 123, ../../compass/assets/sass/brickslopes.scss */
#header #eventContainer {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 700px;
  height: 70px;
  border: 0px solid white;
}
/* line 131, ../../compass/assets/sass/brickslopes.scss */
#header #eventContainer a {
  margin: 10px;
}
/* line 136, ../../compass/assets/sass/brickslopes.scss */
#header #afolContainer {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 200px;
  height: 20px;
  border: 0px solid yellow;
  color: white;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}

/* line 150, ../../compass/assets/sass/brickslopes.scss */
#dashboard, #eventDashboard {
  position: relative;
  top: 25px;
  left: 0;
  width: 1245px;
  margin-left: auto;
  margin-right: auto;
}

/* line 159, ../../compass/assets/sass/brickslopes.scss */
#eventDashboard {
  background-color: white;
  border-radius: 25px;
}

/* line 165, ../../compass/assets/sass/brickslopes.scss */
#splashPage {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 1218px;
  text-align: center;
  border: 5px solid #35469a;
  background: white;
  border-radius: 10px;
}
/* line 175, ../../compass/assets/sass/brickslopes.scss */
#splashPage #splashText {
  position: absolute;
  border: 0px solid yellow;
  top: 5px;
  left: 5px;
  height: 400px;
  width: 425px;
  border-radius: 10px;
  padding: 5px;
  font-size: 2.05em;
  text-align: center;
  color: black;
  background: white;
}
/* line 190, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome {
  position: absolute;
  border-radius: 10px;
  right: 60px;
  top: 25px;
  padding: 10px;
  font-size: 2.0em;
  text-align: center;
  height: 600px;
  width: 630px;
  color: black;
  background: white;
  vertical-align: middle;
  z-index: 5;
  border: 5px solid #35469a;
}
/* line 206, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs {
  position: relative;
  left: 131.25px;
  width: 350px;
  border: none;
  text-align: left;
}
/* line 213, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .loginField, #splashPage .splashTextHome #splashTextEmailUs .captchaField {
  margin-bottom: 10px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 340px;
  height: 42.5px;
  padding-top: 7.5px;
  padding-left: 10px;
}
/* line 223, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .loginField input, #splashPage .splashTextHome #splashTextEmailUs .captchaField input {
  width: 325px;
}
/* line 230, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .captchaField .captcha {
  position: absolute;
  right: 5px;
  bottom: 64px;
  font-size: 0.5em;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding-top: 3px;
  height: 42px;
  width: 150px;
  text-align: center;
}
/* line 244, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .captchaField input {
  width: 150px;
}
/* line 250, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashTextEmailUs .commentsField textarea {
  width: 350px;
  height: 100px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
}
/* line 260, ../../compass/assets/sass/brickslopes.scss */
#splashPage .splashTextHome #splashFigJackSparrow {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 250px;
  right: -95px;
}
/* line 269, ../../compass/assets/sass/brickslopes.scss */
#splashPage .imageLeft {
  position: absolute;
  top: 125px;
  left: 50px;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
/* line 280, ../../compass/assets/sass/brickslopes.scss */
#splashPage .imageRight {
  position: absolute;
  top: 325px;
  left: 225px;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
/* line 291, ../../compass/assets/sass/brickslopes.scss */
#splashPage .publicImage {
  height: 250px;
}
/* line 295, ../../compass/assets/sass/brickslopes.scss */
#splashPage #splashFigBatman {
  position: absolute;
  z-index: 5;
  height: 50px;
  bottom: 250px;
  left: -35px;
}
/* line 303, ../../compass/assets/sass/brickslopes.scss */
#splashPage #splashFigSuperMan {
  position: absolute;
  z-index: 5;
  height: 50px;
  width: 100px;
  bottom: 155px;
  left: -35px;
}
/* line 312, ../../compass/assets/sass/brickslopes.scss */
#splashPage #publicTickets {
  position: absolute;
  z-index: 2;
  height: 225px;
  bottom: 25px;
  width: 400px;
  left: 15px;
  border: 5px solid #35469a;
  border-radius: 10px;
}
/* line 322, ../../compass/assets/sass/brickslopes.scss */
#splashPage #publicTickets #publicTicketsText {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 7px;
  height: 125px;
  bottom: 25px;
  width: 300px;
  border: 0px solid black;
  border-radius: 10px;
}

/* line 336, ../../compass/assets/sass/brickslopes.scss */
#splashPageCTA {
  position: absolute;
  width: 1245px;
  bottom: 65px;
  left: 15px;
  width: 1218px;
  height: 90px;
  text-align: center;
  border: none;
  z-index: 100;
}
/* line 350, ../../compass/assets/sass/brickslopes.scss */
#splashPageCTA #countDown {
  position: absolute;
  right: 10px;
  border: none;
  height: 90px;
  bottom: 0;
  width: 500px;
}

/* line 360, ../../compass/assets/sass/brickslopes.scss */
#logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 366, ../../compass/assets/sass/brickslopes.scss */
#copyright {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1245px;
  height: auto;
  z-index: 2;
  color: white;
  text-align: center;
}

/* line 383, ../../compass/assets/sass/brickslopes.scss */
img#batman {
  height: 200px;
}

/* line 387, ../../compass/assets/sass/brickslopes.scss */
img#superman {
  height: 175px;
}

/* line 391, ../../compass/assets/sass/brickslopes.scss */
img#miniAFOLRegistrationImage {
  height: 75px;
}

/* line 395, ../../compass/assets/sass/brickslopes.scss */
img#miniStarWars {
  height: 125px;
}
