/* line 5, ../../compass/assets/sass/bsbits.scss */
body {
  background-color: black;
  font-family: "arial";
}

/* CSS Reset for Anchor tags - Becasue IE is stupid*/
/* line 11, ../../compass/assets/sass/bsbits.scss */
img {
  border: 0;
}

/* line 15, ../../compass/assets/sass/bsbits.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 20, ../../compass/assets/sass/bsbits.scss */
a:link {
  color: white;
  text-decoration: none;
}

/* line 25, ../../compass/assets/sass/bsbits.scss */
a:hover {
  color: white;
  text-decoration: none;
}

/* line 30, ../../compass/assets/sass/bsbits.scss */
a:active {
  color: white;
  text-decoration: none;
}

/* line 35, ../../compass/assets/sass/bsbits.scss */
a:visited {
  color: white;
  text-decoration: none;
}

/* line 41, ../../compass/assets/sass/bsbits.scss */
button, input, textarea {
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
  outline: none;
}

/* line 46, ../../compass/assets/sass/bsbits.scss */
input[type="text"], input[type="email"], input[type="password"], textarea.input {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #2F3132;
  font-size: 14px;
  height: 35px;
  width: 220px;
  padding: 0 10px;
  text-rendering: optimizelegibility;
  transition-duration: 100ms;
  transition-property: box-shadow, border;
  transition-timing-function: linear;
  vertical-align: middle;
}

/* line 64, ../../compass/assets/sass/bsbits.scss */
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="password"]::-moz-placeholder, textarea.input::-moz-placeholder {
  color: #BCBEBF;
}

/* line 68, ../../compass/assets/sass/bsbits.scss */
.actionButton {
  position: relative;
  background: orange;
  height: 38px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  padding-top: 12px;
  text-align: center;
  cursor: pointer;
}

/* line 81, ../../compass/assets/sass/bsbits.scss */
.formButton, .formButtonSmall {
  position: relative;
  background: orange;
  height: 50px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  margin: 0;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

/* line 93, ../../compass/assets/sass/bsbits.scss */
.formButtonSmall {
  height: 30px;
}

/* line 98, ../../compass/assets/sass/bsbits.scss */
.disabled {
  background: grey;
}

/* line 102, ../../compass/assets/sass/bsbits.scss */
.largeFont {
  font-size: 1.75em;
}

/* line 106, ../../compass/assets/sass/bsbits.scss */
.oneEMFont, .starWarsFont {
  font-size: 1.25em;
}

/* line 110, ../../compass/assets/sass/bsbits.scss */
.eventsFont {
  font-size: 1.0em;
}

/* line 114, ../../compass/assets/sass/bsbits.scss */
.mediumFont {
  font-size: .80em;
}

/* line 118, ../../compass/assets/sass/bsbits.scss */
.smallFont {
  font-size: .60em;
}

/* line 122, ../../compass/assets/sass/bsbits.scss */
.tinyFont {
  font-size: .25em;
}

/* line 126, ../../compass/assets/sass/bsbits.scss */
input.ng-pristine {
  border: none;
}

/* line 130, ../../compass/assets/sass/bsbits.scss */
input:required {
  box-shadow: none;
}

/* line 134, ../../compass/assets/sass/bsbits.scss */
input:invalid {
  box-shadow: none;
}

/* line 138, ../../compass/assets/sass/bsbits.scss */
input.ng-valid.ng-dirty {
  border: 1px solid green;
}

/* line 142, ../../compass/assets/sass/bsbits.scss */
input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

/* line 146, ../../compass/assets/sass/bsbits.scss */
input:select {
  box-shadow: none;
}

/*
input.ng-dirty {
    border: 1px solid purple;
}
*/
/* line 156, ../../compass/assets/sass/bsbits.scss */
.afolAuth:hover {
  font-style: italic;
}

/* line 160, ../../compass/assets/sass/bsbits.scss */
.pointer {
  cursor: pointer;
}

/* Font */
/* line 166, ../../compass/assets/sass/bsbits.scss */
.redFont {
  color: #ff0500;
}

/* line 170, ../../compass/assets/sass/bsbits.scss */
.blueFont {
  color: #35469a;
}

/* line 174, ../../compass/assets/sass/bsbits.scss */
.greenFont {
  color: green;
}

/* line 178, ../../compass/assets/sass/bsbits.scss */
.whiteFont {
  color: #FFFFFF;
}

/* line 182, ../../compass/assets/sass/bsbits.scss */
.bold {
  font-weight: bold;
}

/* line 186, ../../compass/assets/sass/bsbits.scss */
.italic {
  font-style: italic;
}

/* line 190, ../../compass/assets/sass/bsbits.scss */
label.normalFont {
  color: black;
}

/* line 194, ../../compass/assets/sass/bsbits.scss */
label.errorFont {
  color: red;
}
