/* line 6, ../../compass/assets/sass/bsbits.scss */
body {
  background-color: black;
  font-family: "arial";
}

/* CSS Reset for Anchor tags - Becasue IE is stupid*/
/* line 12, ../../compass/assets/sass/bsbits.scss */
img {
  border: 0;
}

/* line 16, ../../compass/assets/sass/bsbits.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 21, ../../compass/assets/sass/bsbits.scss */
a:link {
  color: white;
  text-decoration: none;
}

/* line 26, ../../compass/assets/sass/bsbits.scss */
a:hover {
  color: white;
  text-decoration: none;
}

/* line 31, ../../compass/assets/sass/bsbits.scss */
a:active {
  color: white;
  text-decoration: none;
}

/* line 36, ../../compass/assets/sass/bsbits.scss */
a:visited {
  color: white;
  text-decoration: none;
}

/* line 42, ../../compass/assets/sass/bsbits.scss */
button, input, textarea {
  font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
  outline: none;
}

/* line 47, ../../compass/assets/sass/bsbits.scss */
input[type="text"], input[type="email"], input[type="password"], textarea {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: #2F3132;
  font-size: 14px;
  height: 35px;
  width: 220px;
  padding: 0 10px;
  text-rendering: optimizelegibility;
  transition-duration: 100ms;
  transition-property: box-shadow, border;
  transition-timing-function: linear;
  vertical-align: middle;
}

/* line 63, ../../compass/assets/sass/bsbits.scss */
.registrationForm input[type="text"] {
  margin-left: 10px;
  width: 375px;
}

/* line 71, ../../compass/assets/sass/bsbits.scss */
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea.input::-moz-placeholder {
  color: #BCBEBF;
}

/* line 75, ../../compass/assets/sass/bsbits.scss */
.actionButton, .actionButtonSquare, .actionButtonSmall {
  position: relative;
  background: orange;
  height: 38px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
  padding-top: 12px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

/* line 89, ../../compass/assets/sass/bsbits.scss */
.actionButtonSquare {
  width: 150px;
  padding-top: 3px;
}

/* line 95, ../../compass/assets/sass/bsbits.scss */
.actionButtonSmall {
  height: 30px;
  padding-top: 6px;
}

/* line 101, ../../compass/assets/sass/bsbits.scss */
.formButtonPosition {
  position: relative;
  width: 100%;
  text-align: center;
  height: 50px;
}

/* line 108, ../../compass/assets/sass/bsbits.scss */
.formButton, .formButtonSmall {
  position: relative;
  background: orange;
  height: 50px;
  border: 1px solid #BCBEBF;
  border-radius: 5px;
  margin: 0;
  width: 250px;
  text-align: center;
  cursor: pointer;
}

/* line 120, ../../compass/assets/sass/bsbits.scss */
.formButtonSmall {
  height: 30px;
}

/* line 125, ../../compass/assets/sass/bsbits.scss */
.disabled {
  background: grey;
}

/* line 129, ../../compass/assets/sass/bsbits.scss */
.twoEMFont {
  font-size: 2.0em;
}

/* line 133, ../../compass/assets/sass/bsbits.scss */
.largeFont {
  font-size: 1.75em;
}

/* line 137, ../../compass/assets/sass/bsbits.scss */
.oneEMFont, .starWarsFont {
  font-size: 1.25em;
}

/* line 141, ../../compass/assets/sass/bsbits.scss */
.eventsFont {
  font-size: 1.0em;
}

/* line 145, ../../compass/assets/sass/bsbits.scss */
.mediumFont {
  font-size: .80em;
}

/* line 149, ../../compass/assets/sass/bsbits.scss */
.smallFont {
  font-size: .60em;
}

/* line 153, ../../compass/assets/sass/bsbits.scss */
.tinyFont {
  font-size: .25em;
}

/* line 157, ../../compass/assets/sass/bsbits.scss */
input.ng-pristine {
  border: none;
}

/* line 161, ../../compass/assets/sass/bsbits.scss */
input:required {
  box-shadow: none;
}

/* line 165, ../../compass/assets/sass/bsbits.scss */
input:invalid {
  box-shadow: none;
}

/* line 169, ../../compass/assets/sass/bsbits.scss */
input.ng-valid.ng-dirty {
  border: 1px solid green;
}

/* line 173, ../../compass/assets/sass/bsbits.scss */
input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

/* line 177, ../../compass/assets/sass/bsbits.scss */
input:select {
  box-shadow: none;
}

/*
input.ng-dirty {
    border: 1px solid purple;
}
*/
/* line 187, ../../compass/assets/sass/bsbits.scss */
.afolAuth:hover {
  font-style: italic;
}

/* line 191, ../../compass/assets/sass/bsbits.scss */
.pointer {
  cursor: pointer;
}

/* Font */
/* line 197, ../../compass/assets/sass/bsbits.scss */
.redFont {
  color: #ff0500;
}

/* line 201, ../../compass/assets/sass/bsbits.scss */
.blueFont {
  color: #35469a;
}

/* line 205, ../../compass/assets/sass/bsbits.scss */
.greyFont {
  color: #bcbebf;
}

/* line 209, ../../compass/assets/sass/bsbits.scss */
.greenFont {
  color: green;
}

/* line 213, ../../compass/assets/sass/bsbits.scss */
.whiteFont {
  color: #FFFFFF;
}

/* line 217, ../../compass/assets/sass/bsbits.scss */
.bold {
  font-weight: bold;
}

/* line 221, ../../compass/assets/sass/bsbits.scss */
.italic {
  font-style: italic;
}

/* line 225, ../../compass/assets/sass/bsbits.scss */
label.normalFont {
  color: black;
}

/* line 229, ../../compass/assets/sass/bsbits.scss */
label.errorFont {
  color: red;
}

/* line 233, ../../compass/assets/sass/bsbits.scss */
.borderRadius5 {
  border-radius: 5px;
}

/* line 237, ../../compass/assets/sass/bsbits.scss */
.borderRadius10 {
  border-radius: 10px;
}
