/* line 1, ../../compass/assets/sass/guest.scss */
.guestList {
  width: 750px;
  border: none;
}

/* line 6, ../../compass/assets/sass/guest.scss */
.guestListName {
  width: 400px;
  border: none;
  text-align: center;
  font-size: 1.50em;
  padding-top: 25px;
}

/* line 14, ../../compass/assets/sass/guest.scss */
.guestListState {
  width: 350px;
  border: none;
  text-align: center;
  font-size: 1.50em;
  padding-top: 25px;
}
