/* line 20, ../../compass/assets/sass/lego.scss */
.brickHolder {
  position: relative;
  height: 59.0;
  width: 322;
  border: none;
  z-index: 10;
  display: inline-block;
}
/* line 28, ../../compass/assets/sass/lego.scss */
.brickHolder .legoBrick {
  position: relative;
  top: 9;
  width: 320;
  height: 34.0px;
  border: 1px solid black;
  text-align: center;
  padding-top: 14px;
  display: inline-block;
}
/* line 38, ../../compass/assets/sass/lego.scss */
.brickHolder .legoBrick .studs {
  position: absolute;
  top: -11px;
  left: 0;
  height: 16.0;
  width: 320;
}
/* line 45, ../../compass/assets/sass/lego.scss */
.brickHolder .legoBrick .studs .stud {
  float: left;
  margin-left: 7px;
  margin-right: 7px;
  height: 9;
  width: 24;
  border: 1px solid black;
}

/* line 57, ../../compass/assets/sass/lego.scss */
.yellow {
  background-color: yellow;
}

/* line 61, ../../compass/assets/sass/lego.scss */
.blue {
  background-color: #35469a;
}

/* line 65, ../../compass/assets/sass/lego.scss */
.black {
  background-color: black;
}

/* line 69, ../../compass/assets/sass/lego.scss */
.red {
  background-color: #ff0500;
}

/* line 73, ../../compass/assets/sass/lego.scss */
.interlock {
  top: -9px;
  z-index: 9;
}

/* line 78, ../../compass/assets/sass/lego.scss */
.interlock2 {
  top: -18px;
  z-index: 8;
}
