/* line 18, ../../compass/assets/sass/lego.scss */
.brickHolder {
  position: relative;
  height: 59.0;
  width: 322;
  border: none;
  z-index: 2;
  display: inline-block;
}
/* line 26, ../../compass/assets/sass/lego.scss */
.brickHolder .legoBrick {
  position: relative;
  top: 9;
  width: 320;
  height: 34.0px;
  border: 1px solid black;
  text-align: center;
  padding-top: 14px;
  display: inline-block;
}
/* line 36, ../../compass/assets/sass/lego.scss */
.brickHolder .legoBrick .studs {
  position: absolute;
  top: -11px;
  left: 0;
  height: 16.0;
  width: 320;
}
/* line 43, ../../compass/assets/sass/lego.scss */
.brickHolder .legoBrick .studs .stud {
  float: left;
  margin-left: 6px;
  margin-right: 6px;
  height: 9;
  width: 24;
  border: 1px solid black;
}

/* line 55, ../../compass/assets/sass/lego.scss */
.yellow {
  background-color: yellow;
}

/* line 59, ../../compass/assets/sass/lego.scss */
.blue {
  background-color: #35469a;
}

/* line 63, ../../compass/assets/sass/lego.scss */
.interlock {
  top: -10px;
  z-index: 1;
}
