{
  "globals": {
    "describe": true,
    "beforeEach": true,
    "it": true,
    "for": true,
    "spyOn": true,
    "expect": true,
    "angular": true,
    "jasmine": true,
    "afterEach": true,
    "$": true,
    "inject": true,
    "module": true,
    "_": true
  }
}
