<div id="login" ng-class="{fadeOutFast : ! showLogin}">
    <div>
        <bs-logo font-size=1.75></bs-logo>
    </div>
    <div class="loginForm">
        <form name="signIn" ng-submit="signIn.$valid && submitLogin()">
        <form>
            <div class="loginField">
                <i class="icons-email icons-sprite-bg"></i>
                <input type="email" placeholder="Email" ng-model="email" required>
            </div>
            <div class="loginField">
                <i class="icons-key icons-sprite-bg"></i>
                <input placeholder="Password" type="password" ng-model="password" required>
            </div>
            <div>
                <button class="formButton" type="submit" ng-class="{disabled: verifying}" ng-disabled="verifying">
                    <bs-text text="Sign In" font-color=white font-size=1.75></bs-text>
                </button>
            </div>
        </form>
    </div>
    <div>
        <span class="redFont">{{displayErrorMessage}}</span>
    </div>
    <div ng-click="seeResetPassword()" class="pointer">
        Forgot your password?
    </div>
</div>
