<div class="resetPasswordForm" ng-hide="! showResetPassword" ng-class="{fadeInNoAnimation: showResetPassword}">
    <div class="loginForm">
        <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && resetPassword()">
            <div class="loginField">
                <i class="icons-email icons-sprite-bg"></i>
                <input type="email" placeholder="Email" ng-model="resetEmail" required>
            </div>
            <div>
                <button class="formButton" type="submit" ng-class="{disabled: verifying}" ng-disabled="verifying2">
                    <bs-text text="Reset Password" font-color=white font-size=1.75></bs-text>
                </button>
            </div>
        </form>
    </div>
    <div class="textCenter">
        <p>
        <span class="greenFont">{{displayMessage}}</span>
        <p>
        <span ng-show="displayMessage">Please check your spam folder too!<span>
    </div>
</div>
