<div id="signUpText" ng-class="{signUpAnimation: ! showLogin}" ng-show="! showResetPassword">
    <div class="loginForm">
        <div class="oneEMFont bold">
            Not a member? Sign-up today!
            <p>
            It's fast ...
            <p>
            It's free ...
            <p>
            Plus access to the entire AFOL Site!
        </div>
        <div id="signUpButton" ng-show="showLogin">
            <div class="actionButton" ng-click="seeRegistration()">
                <bs-text text="Sign up" font-color=white font-size=1.25></bs-text>
            </div>
        </div>
    </div>
</div>
