<div id="header">
    <a href="/index.php"><img id="logo" src="/images/brickslopes_official.png" alt="Splash Page"></a>
    <div id="eventContainer">
        <a href="/eventDetails/who.php"><img src="/images/communication/images/communication_header_slices.png" alt="Who"></a>
        <a href="/eventDetails/what.php"><img src="/images/communication/images/communication_header_sli-02.png" alt="What"></a>
        <a href="/eventDetails/when.php"><img src="/images/communication/images/communication_header_sli-03.png" alt="When"></a>
        <a href="/eventDetails/where.php"><img src="/images/communication/images/communication_header_sli-04.png" alt="Where"></a>
        <a href="/eventContacts/emailUs.php"><img src="/images/communication/images/communication_header_sli-06.png" alt="Email Us"></a>
        <a href="/eventContacts/callUs.php"><img src="/images/communication/images/communication_header_sli-07.png" alt="Call Us"></a>
        <a id="follow-button" target="_blank" title="Follow @brickslopes on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.brickslopes.com&region=follow_link&screen_name=brickslopes&tw_p=followbutton&variant=2.0"><img src="/images/communication/images/communication_header_sli-08.png" alt="Facebook"></a>
        <a target="_blank" href="https://www.facebook.com/BrickSlopes" alt="Facebook"><img src="/images/communication/images/communication_header_sli-09.png"></a>
        <a target="_blank" href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.brickslopes.com&media=http%3A%2F%2Fwww.brickslopes.com%2Fimages%2FBrickSlopesFalconFlyer.png&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="none"><img src="/images/communication/images/communication_header_sli-10.png" alt="Pinterest"></a>
    </div>
</div>
