<div id="splashPageDashboard">
  <div id="splashPage">
    <div id="splashTextWhere" class="splashTextHome">
      <h2><bs-text text="Where"></bs-text></h2>
      <p>
        <bs-logo font-size="1.0" font-color="blue"></bs-logo> will be held at the South Towne Exposition Center in beautiful Sandy, Utah (A suburb of Salt Lake City). 
      <p>
      9575 S State St  Sandy, UT 84070
      <p>
      The South Towne Exposition Center can be easily reached from the Salt Lake City International Airport (SLC) or I-15.
    </div>
  </div>
</div>
