<div id="splashPageDashboard">
  <div id="splashPage">
    <div id="splashTextWho" class="splashTextHome">
      <h2><bs-text text="Who"></bs-text></h2>
        <bs-logo font-size="1.0" font-color="blue"></bs-logo> is a LEGO Fan Event for all AFOLs (Adult Fans of LEGO) in the World -- especially those in the Intermountain West and Pacific Coast.
      <p>
      There will also be a public showing during the event where all ages will be able to see the LEGO creations and speak with the builders.
    </div>
  </div>
</div>
