<div id="dashboard" style="height: 1050px">
  <div id="splashPage" class="splashTextContainer" style="height: 1025px">
    <div class="row">
      <div class="col-lg-12">
        <h2><bs-text text="{{eventYear}} Activity Guide"></bs-text></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 splashText margin-bottom-medium">
        There are so many activities for the entire family to enjoy during <bs-logo></bs-logo>.
        <br>
        We have designed an entire "Activity Guide" to help
        <br>
        each participant to get the some out of the event.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <img src="/images/publicPics/activityGuide.jpg" alt="Activity Guide" style="width: 600px;"/>
      </div>
    </div>
  </div>
</div>
