<div id="errorPage">
    <div id="errorContainer">
        <div class="textLeft">
            <h2>Page not found</h2>
        </div>
        <div>
            <img src="/images/notfound/404_image.jpg" alt="Page not found">
        </div>
        <p>
        <div>
            <h4>
                Sorry, we can't find that page! It might be an old link or maybe it moved.
            </h4>
        </div>
        <p>
        <div class="textLeft">
            <a href="https://www.brickslopes.com">
                <button class="actionButtonError">
                    <span font-size="1.75" font-color="white"><span style="font-size: 1.75em;" class="whiteFont bold">&lt;</span>&nbsp;<span class="whiteFont bold"><span style="font-size: 1.75em;">B</span><span style="font-size: 1.4em;">ack</span>&nbsp;<span style="font-size: 1.75em;">T</span><span style="font-size: 1.4em;">O</span>&nbsp;<span style="font-size: 1.75em;">B</span><span style="font-size: 1.4em;">RICKS</span><span style="font-size: 1.75em;">S</span><span style="font-size: 1.4em;">LOPES</span>&nbsp;<span style="font-size: 1.75em;">H</span><span style="font-size: 1.4em;">OME</span></span></span>
                </button>
            </a>
        </div>
    </div>
</div>
<LINK href="/css/bsbits.css" rel="stylesheet" type="text/css"/>
