<div id="header" ng-controller="bsHeader">
    <a href="/"><img id="logo" src="/images/brickslopes_official.png" alt="Splash Page"></a>
    <div ng-if="showHeader">
        <div id="eventContainer">
            <!--<a id="activityLink" href="/activity/index.html"><img src="/images/icons/brickslopes-logo.png" alt="Who"></a>
            <a id="whoLink" href="/who/index.html"><img src="/images/communication/images/who.png" alt="Who"></a>
            <a id="whatLink" href="/what/index.html"><img src="/images/communication/images/what.png" alt="What"></a>
            <a id="whenLink" href="/when/index.html"><img src="/images/communication/images/when.png" alt="When"></a>
            <a id="whereLink" href="/where/index.html"><img src="/images/communication/images/where.png" alt="Where"></a>-->
            <a id="emailUsLink" href="/emailUs/index.html"><img src="/images/communication/images/email.png" alt="Email Us"></a>
            <a id="callUsLink" href="/callUs/index.html"><img src="/images/communication/images/phone.png" alt="Call Us"></a>
            <a id="follow-button" target="_blank" title="Follow @brickslopes on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.brickslopes.com&region=follow_link&screen_name=brickslopes&tw_p=followbutton&variant=2.0"><img src="/images/communication/images/twitter.png" alt="Facebook"></a>
            <a target="_blank" href="https://www.facebook.com/BrickSlopes" alt="Facebook"><img src="/images/communication/images/facebook.png"></a>
            <a target="_blank" href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.brickslopes.com&media=http%3A%2F%2Fwww.brickslopes.com%2Fimages%2FBrickSlopesFalconFlyer.png&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="none"><img src="/images/communication/images/pinterest.png" alt="Pinterest"></a>
        </div>
        <div id="afolContainer" ng-show="showAfolLogin">
            <span id="t_clickBuilder" class="afolAuth" ng-click="clickBuilder()"><bs-text text="{{authenticationText()}}" font-color=white></bs-text></span>
            <span class="afolAuth" ng-show="admin()" ng-click="clickAdmin()"><bs-text text="{{adminText()}}" font-color=white></bs-text></span>
            <span id="t_clickLogout" class="afolAuth" ng-show="authenticated()" ng-click="logout()"> | <bs-text text="Logout" font-color=white></bs-text></span>
        </div>
    </div>
</div>
