<div id="eventDashboard">
    <div id="dashboardText">
        <div id="login" ng-class="{fadeOutFast : ! showLogin}">
            <div>
                <bs-logo font-size=1.75></bs-logo>
            </div>
            <div class="loginForm">
                <form class="my-form">
                    <div class="loginField">
                        <i class="icons-email icons-sprite-bg"></i>
                        <input type="email" placeholder="Email" ng-model="email" required>
                    </div>
                    <div class="loginField">
                        <i class="icons-key icons-sprite-bg"></i>
                        <input placeholder="Password" type="password" ng-model="password" required>
                    </div>
                    <div class="actionButton" ng-click="submitLogin()">
                        <bs-text text="Sign In" font-color=white font-size=1.25></bs-text>
                    </div>
                </form>
            </div>
            <div>
                {{displayErrorMessage}}
            </div>
        </div>
        <div id="loginDivider" ng-class="{fadeOutFast : ! showLogin}"></div>
        <div id="signUp" ng-class="{signUpAnimation: ! showLogin}">
            <div class="loginForm">
                <div class="oneEMFont bold">
                    Not a member? Sign-up today!
                    <p>
                    It's fast ...
                    <p>
                    It's free ...
                    <p>
                    Plus access to the entire AFOL Site!
                </div>
            </div>
        </div>
        <div id="signUpButton">
            <div class="actionButton" ng-click="register()" ng-class="{signUpButtonAnimation : ! showLogin}">
                <bs-text text="Sign up" font-color=white font-size=1.25></bs-text>
            </div>
        </div>
        <div id="signUpForm" ng-show="!showLogin" ng-class="{fadeIn: ! showLogin}">
            <div class="loginForm">
                <form class="my-form">
                    <div class="loginField">
                        <input type="text" placeholder="First Name" ng-model="firstName" required>
                    </div>
                    <div class="loginField">
                        <input type="text" placeholder="Last Name" ng-model="lastName" required>
                    </div>
                    <div class="loginField">
                        <input type="email" placeholder="Email" ng-model="email" required>
                    </div>
                    <div class="loginField">
                        <input placeholder="Password" type="password" ng-model="password" required>
                    </div>
                    <div class="loginField">
                        <input placeholder="Verify Password" type="password" ng-model="verifyPassword" required>
                    </div>
                </form>
            </div>
        </div>
    </div >
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
<!-- <script type="text/javascript" src="/lib/googleAnalytics.js"></script> -->
