<div id="dashboard">
    <div id="splashPage">
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/sw_sets_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/bricks_public.jpg">
        </div>
        <div class="splashTextHome">
            <div>
                <h2><bs-text text="Packages"></bs-text></h2>
            </div>
            <div>
                <h3><bs-text font-color="black" text="Coming Soon"></bs-text></h3>
            </div>
            <div>
                We will be posting our {{eventYear}} children's packages soon. Please check back.
            </div>
            <div class="splashFigJackSparrow"><img src="/images/publicPics/JackSparrow150px.png"></div>
        </div>
    </div>
</div>
