<div id="dashboard">
    <div id="splashPage">
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/sw_sets_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/bricks_public.jpg">
        </div>
        <div class="splashTextHome">
            <div>
               <bs-logo></bs-logo> 
                We're working as fast as we can ... stay tuned! 
            </div>
            <div class="splashFigJackSparrow"><img src="/images/publicPics/JackSparrow150px.png"></div>
        </div>
    </div>
</div>
