<div id="dashboard" style="height: 800px">
    <div id="splashPage" style="height: 775px">
        <div class="packageSplashText" style="height: 700px">
            <div>
                <h2><bs-text text="{{eventYear}} Packages"></bs-text></h2>
            </div>
            <div>
                <table class="packages">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                    <tr ng-repeat="package in packageList">
                        <td class="description" ng-bind="package"></td>
                        <td>
                            <button class="actionButtonSquare" ng-click="purchaseTickets()">
                                <bs-text text="Order" font-color=white font-size=.75></bs-text>
                            </button>
                        </td>
                        <td>
                            <button class="actionButtonSquare" ng-click="purchaseTickets()">
                                <bs-text text="Order" font-color=white font-size=.75></bs-text>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="fees">
                * Handling fees not included.
            </div>
            <div class="splashFigJackSparrow"><img src="/images/publicPics/JackSparrow150px.png"></div>
        </div>
    </div>
</div>
