<div id="ticketsDashboard">
  <div id="splashPage" style="height: 1050px;">
    <div class="row margin-top-medium">
      <div class="col-sm-8">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-2 text-center" colspan="3">
                <bs-text text="Public" font-size=1.25></bs-text>
              </th>
              <th class="col-md-2 text-center" colspan="3">
                <bs-text text="Very Important Builder (VIB)" font-size=1.25></bs-text>
              </th>
              <th class="col-md-2 text-center">
                <bs-text text="Vendor" font-size=1.25></bs-text>
              </th>
            </tr>
          </thead>
           <thead>
            <tr>
              <th class="col-md-1"></th>
              <th class="col-md-1 text-center">
                <bs-text text="Under 5"></bs-text>
              </th>
              <th class="col-md-1 text-center">
                <bs-text text="One Day"></bs-text>
              </th>
              <th class="col-md-1 text-center">
                <bs-text text="Two Day"></bs-text>
              </th>
              <th class="col-md-1 text-center">
                <bs-text text="Limited"></bs-text>
              </th>
              <th class="col-md-1 text-center">
                <bs-text text="Standard"></bs-text>
              </th>
              <th class="col-md-1 text-center">
                <bs-text text="Master"></bs-text>
              </th>
              <th class="col-md-1 text-center">
                <bs-text text="Vendor"></bs-text>
              </th>
            </tr>
          </thead>         
          <tbody>
            <tr>
              <td class="text-left">Cost</td>
              <td>Free</td>
              <td>$8</td>
              <td>$10</td>
              <td>$25/$35</td>
              <td>$80/$95</td>
              <td>$105/$120</td>
              <td>Varies</td>
            </tr>
            <tr>
              <td class="text-left">Admission</td>
              <td>per Day</td>
              <td>per Day</td>
              <td>2 Days</td>
              <td>3 Days</td>
              <td>3 Days</td>
              <td>3 Days</td>
              <td>3 Days</td>
            </tr>
            <tr>
              <td class="text-left">Public 
                Door Prizes</td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Public 
                Games and Activities</td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Event Brick</td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
            </tr>
            <tr>
              <td class="text-left">
                Star Wars
                Fly-In Table Space
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
              
              </tr>
            <tr>
              <td class="text-left"> 
                Commemorative Brick</td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Fly-In 
                Set Raffle</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">per Set</td>
              <td class="text-center">per Set</td>
              <td class="text-center">per Set</td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">VIB 
                Swag Bag</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">VIB 
                MOC Registration & Prizes</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">VIB 
                Games & Prizes</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">VIB 
                Meet & Greet</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Complete Name Bage</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Event T-Shirt</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-left">Vendor Booth (10 x 10)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Varies</td>
            </tr>
            <tr>
              <td class="text-left">Upgradeable to VIB Passes</td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
              <td></td>
              <td><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 margin-top-large">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <span class="btn btn-success">
                  <a href="https://on.spingo.com/e/BrickSlopes_2019" target="_blank">
                    <bs-text text="Buy Public Tickets" font-color=white font-size=1.25></bs-text>
                  </a>
                </span>
              </div>
            </div>
            <div class="row margin-top-medium margin-bottom-large">
              <div class="col-lg-12 text-left">
                  Get access to the show floor, Including: The BrickPit, the LEGO Derby Track, Minifig Trading
                  Center, Our Graffiti Wall, Mini-Kit Hunt, Star Wars Fly-In Viewing, Public Presentaions and Panels,
                  random prizes, and more! Public tickets are sold online, and at the door. 
                  kids Under 5 are free, with accompanying adult.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <span class="btn btn-success">
                  <a href="/registered/login.html">
                    <bs-text text="Buy VIB Tickets" font-color=white font-size=1.25></bs-text>
                  </a>
                </span>
              </div>
            </div>
            <div class="row margin-top-medium margin-bottom-large">
              <div class="col-lg-12 text-left">
                VIB tickets are intended for those wish a unique convention like experience. Attendees
                12 to 16 Must be accompanied by an Adult (18+), with a VIB pass. Some VIB games require
                registration, and/or an additional fee, VIB passes do not guarantee space in VIB games. 
                Children under 12 are not permitted, Disrespectul Pass Holders may be asked to leace
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <span class="btn btn-success">
                  <a href="vendors">
                    <bs-text text="Apply For Vendor Space" font-color=white font-size=1.25></bs-text>
                  </a>
                </span>
              </div>
            </div>
            <div class="row margin-top-medium margin-bottom-large">
              <div class="col-lg-12 text-left">
                For those looking to engage with LEGO® fans. A limited number of both spaces are available.
                Fees depend on the type of business and activity. Additional fees are required for non-LEGO®
                related* products and services, such as food, and beverage vendors.
                <br></br>
				        *BrickSlopes respects the intellectual property of IP rights holders. Vendors are not permitted 
				        to sell or display products or services which violate the IP rights of others. Additionally, 
				        BrickSlopes is a <b>LEGO® fan event</b>, there are no products from competing brick buiding systems 
				        on display or for sale at BrickSlopes Events.
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
