<div id="dashboard">
    <div id="splashPage">
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/sw_sets_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/bricks_public.jpg">
        </div>
        <div class="splashTextHome">
            <div>
                <h2><bs-text text="Tickets"></bs-text></h2>
            </div>
            <div>
                Purchase your {{eventYear}} tickets on-line today!
            </div>
            <p>
            <div ng-repeat="date in publicDateList">
                <div>
                    <span ng-bind="date.date"></span>
                    <br>
                    <span ng-bind="date.hours"></span>
                    <span>*</span>
                </div>
                <div class="buyTicketsButton" ng-if="$index==0">
                    <button class="actionButtonSquare" ng-click="purchaseFridayTickets()">
                        <bs-text text="Buy Tickets" font-color=white font-size=1.75></bs-text>
                    </button>
                </div>
                <div class="buyTicketsButton" ng-if="$index==1">
                    <button class="actionButtonSquare" ng-click="purchaseSaturdayTickets()">
                        <bs-text text="Buy Tickets" font-color=white font-size=1.75></bs-text>
                    </button>
                </div>
                <p>
            </div>
            <div class="splashFigJackSparrow"><img src="/images/publicPics/JackSparrow150px.png"></div>
        </div>
    </div>
</div>
