<div id="dashboard">
  <div id="splashPage">
        <div class="banner">
            <img class="bannerImage" src="/images/publicPics/banners/bs-2018-horizontal-banner.png">
        </div>
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/star_wars_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/dave_public.jpg">
        </div>
        <div class="splashTextHome">
            <h2><bs-text text="Event Volunteers"></bs-text></h2>
            <div class="textLeft mediumFont">
                <p>
                    Every year, <bs-logo></bs-logo> is in need of some very capable and talented individuals from the community to help as volunteers during the public hours.
                </p>
                <p>
                    If you would like to volunteer for, at least, 4 hours on either Friday May 15th or Saturday May 16th and receive two complimentary adult tickets, please click the link below, fill out the information and e-mail the completed form to "events @ brickslopes.com" (no spaces).
                </p>
                <p>
                    The details about volunteering and any requirements related to the application and selection of individuals is detailed in the form.
                </p>
            </div>
            <div class="blue-hover">
                <p>
                    Click Here for the <a target="_new" href="/images/pdf/volunteer-application.pdf">Volunteer Application</a>
                </p>
            </div>
        </div>
    </div>
</div>
