<div id="dashboard">
    <div id="splashPage">
        <div class="banner">
            <img class="bannerImage" src="/images/publicPics/banners/bs-2018-horizontal-banner.png">
        </div>
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/east_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/steve_two_public.jpg">
        </div>
        <div id="splashTextWhat" class="splashTextHome" >
            <h2><bs-text text="What"></bs-text></h2>
            <bs-logo font-size="1.0" font-color="blue"></bs-logo> is an annual LEGO Fan Event organized by the SBC Corporation and held in Orem, Utah. 
            <p>
            The 2018 event featured hundreds of LEGO displays created by more than 60 adults and teens from around the United States.
            <p>
            During the two public days in 2014 through 2018, 30,000+ LEGO Fans attended the show; enjoyed the LEGO and mingled with the builders.
            <div class="splashFigBatman"><img class="fig" src="/images/publicPics/Batman150px.png"></div>
        </div>
    </div>
</div>
