<div id="dashboard">
    <div id="splashPage">
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/steve_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/battle_public.jpg">
        </div>
        <div id="splashTextWhen" class="splashTextHome">
            <h2><bs-text text="When"></bs-text></h2>
            <p>
            <b>Public Showing</b>
            <br>
            May 15th & 16th, 2015
            <p>
            Friday, May 15th.
            <br>
            Hours: 3 pm to 8* pm
            <p>
            Saturday, May 16th.
            <br>
            Hours: 9 am to 8* pm
            <h6>
            * Ticket sales will end at 7 pm each night</h6>
        </div>
    </div>
</div>
