<div id="dashboard">
    <div id="splashPage">
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/steve_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/battle_public.jpg">
        </div>
        <div id="splashTextWhen" class="splashTextHome">
            <h2><bs-text text="When"></bs-text></h2>
            <p>
            <bs-text text="Public Showing" font-color="black"></bs-text>
            <div ng-bind="publicEventDates"></div>
            <br>
            <div ng-repeat="date in publicDateList">
                <div ng-bind="date.date"></div>
                <div>{{date.hours}}*</div>
                <br>
            </div>
            <div class="splashFigPresidentBusiness"><img class="fig" src="/images/publicPics/presidentbusiness.jpg"></div>
            <h6>* Ticket sales will end at 7 pm each night</h6>
        </div>
    </div>
</div>
