<div id="dashboard">
    <div id="splashPage">
        <div class="banner">
            <img class="bannerImage" src="/images/publicPics/banners/bs-2016-horizontal-banner.png">
        </div>
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/families_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/brickmania_public.jpg">
        </div>
        <div id="splashTextWhere" class="splashTextHome">
            <h2><bs-text text="Where"></bs-text></h2>
            <p>
            <bs-logo font-size="1.0" font-color="blue"></bs-logo> will be held at the UCCU Events Center in beautiful Orem, Utah (A suburb of Salt Lake City). 
            <p>
            800 W University Pkwy, Orem, UT 84058
            <p>
            The UCCU Events Center can be easily reached from the Salt Lake City International Airport (SLC) or I-15.
            <div class="splashMilleniumFalcon"><img src="/images/publicPics/Millenium-Falcon150px.png"></div>
        </div>
    </div>
</div>
