<div id="dashboard">
    <div id="splashPage">
        <div class="banner">
            <img class="bannerImage" src="/images/publicPics/banners/bs-2019-horizontal-banner.png">
        </div>
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/families_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/brickmania_public.jpg">
        </div>
        <div id="splashTextWhere" class="splashTextHome">
            <h2><bs-text text="Where"></bs-text></h2>
            <p>
            <bs-logo font-size="1.0" font-color="blue"></bs-logo> will be held at the Mountain America Exposition Center in beautiful Sandy, Utah (A suburb of Salt Lake City). 
            <p>
            9575 State St, Sandy, UT 84070
            <p>
            The Mountain America Exposition Center can be easily reached from the Salt Lake City International Airport (SLC) or I-15.
            
        </div>
    </div>
</div>
