<div id="dashboard">
    <div id="splashPage">
        <div class="banner">
            <img class="bannerImage" src="/images/publicPics/banners/bs-2015-horizontal-banner.png">
        </div>
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/sw_sets_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/bricks_public.jpg">
        </div>
        <div id="splashTextWho" class="splashTextHome">
            <h2><bs-text text="Who"></bs-text></h2>
            <div class="splashTextWho">
                &#8226;&nbsp;Unleash your imagination at <bs-logo font-size="1.0" font-color="blue"></bs-logo>
                <p>
                &#8226;&nbsp;Build your imagination in the "BrickPit"
                <p>
                &#8226;&nbsp;Race your custom LEGO car on the "Ramp"
                <p>
                &#8226;&nbsp;Display your "Brick Pit Creations"
                <p>
                &#8226;&nbsp;Inspire your imagination with one-of-a-kind displays
                <p>
                &#8226;&nbsp;Upgrade with new and custom LEGO and LEGO compatible Elements from our Vendors.
            </div>
            It's your Imagination, Unleash it at <bs-logo font-size="1.0" font-color="blue"></bs-logo>.
            <div class="splashFigJackSparrow"><img src="/images/publicPics/JackSparrow150px.png"></div>
        </div>
    </div>
</div>
