<div id="dashboard">
    <div id="splashPage">
        <div class="imageLeft">
            <img class="publicImage" src="/images/publicPics/2014/sw_sets_public.jpg">
        </div>
        <div class="imageRight">
            <img class="publicImage" src="/images/publicPics/2014/bricks_public.jpg">
        </div>
        <div id="splashTextWho" class="splashTextHome">
            <h2><bs-text text="Who"></bs-text></h2>
            You are invited to Unleash your imagination at <bs-logo font-size="1.0" font-color="blue"></bs-logo>, as you Build your imagination in the BrickPit, Race your custom LEGO car on the "Ramp", Display your Brick Pit Creations, Inspire your imagination with one of a kind displays, and Upgrade with new and custom LEGO and LEGO compatible Elements from our Vendors.
            <p>
            It's your Imagiantion, Unleash it at <bs-logo font-size="1.0" font-color="blue"></bs-logo>.
            <div class="splashFigJackSparrow"><img src="/images/publicPics/JackSparrow150px.png"></div>
        </div>
    </div>
</div>
