$image_width: 500px;

.imageContainerHeight {
    height: 425px;
}

.imageLeft {
    position: absolute;
    left: 50px;

    .imageSize {
        width: $image_width;
    }
}

.imageRight {
    position: absolute;
    right: 50px;

    .imageSize {
        width: $image_width;
    }
}
