.splashTextContainer {
    padding: 20px;

    .splashText {
        font-size: 2.0em;
    }
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.margin-bottom-medium {
    margin-bottom: 20px;
}

.margin-bottom-large {
    margin-bottom: 40px;
}

.margin-top-small {
    margin-top: 10px;
}

.margin-top-medium {
    margin-top: 20px;
}

.margin-top-large {
    margin-top: 40px;
}

.borderedSquare {
    border-radius: 10px;
    padding: 10px;
    background: white;
    border: 5px solid $bs_blue;
    margin-right: 25px;
    margin-top: 45px;
}
