@import './base';
@import './aboutus';
@import './admin';
@import './afols';
@import './animation';
@import './bsbits';
@import './collections';
@import './games';
@import './guest';
@import './hotels';
@import './keynote';
@import './lego';
@import './moc';
@import './packages';
@import './payment';
@import './schedule';
@import './tour';
@import './vendorRegistration';
@import './vendors';
@import './brickslopesV2';

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 481px) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    #afolDashboard {
        height: $afol_dashboard_height;
    }

    #dashboard {
        width: $dashboard_width;
        height: $dashboard_height;
    }

    #panes {
        height: $pane_height;
    }

    #dashboardText{
        min-height: $dashboard_height - 30;
        height: auto;
    }

    #splashPage {
        width: $dashboard_width - 20;
        height: $splashPage_height;
    }

    #brickslopes {
        width: $dashboard_width;
    }

    #header {
        width: $dashboard_width;
    }

    .animationContainer {
        width: $dashboard_width;
    }

    #copyright {
        width: $dashboard_width;
    }

    #splashPageCTA {
        width: $dashboard_width;
    }
}

#brickslopes {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .animationContainer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border: 0;
        min-height: $dashboard_height;
        height: auto;
    }

    #splashPageCTA {
        position: relative;
        top: 5px;
        left: 0;
        height: 90px;
        text-align: center;
        border: 0;
        z-index: 100;

        #countDown {
            position: absolute;
            right: 40px;
            border: 0;
            height: 90px;
            width: 500px;
        }

        #childPackages {
            position: absolute;
            left: 100px;
            height: 90px;
            width: 500px;
            border: 1px solid white;
            background: white;
            border-radius: 10px;

            .text {
                position: absolute;
                left: 2px;
                height: 90px;
                width: 300px;
                top: 2px;
                border: 0;
            }

            .buyTicketsButton {
                position: absolute;
                right: 25px;
                top: 15px;
            }
        }
    }
    
    #header {
        position: relative;
        top: 0;
        left: 0;
        height: 125px;
        margin-left: auto;
        margin-right: auto;
        border: 0;

        #logo {
          position: absolute;
          top: 0;
          left: 0;
        }

        #eventContainer {
            position: absolute;
            top: 30px;
            right: 0;
            width: 800px;
            height: 70px;
            border: 0;

            a {
                margin: 10px;
            }
        }

        #afolContainer {
            position: absolute;
            top: 5px;
            right: 10px;
            width: 300px;
            height: 20px;
            border: 0;
            color: white;
            text-align: right;
            padding-right: 10px;
            cursor: pointer;
        }
    }

    #copyright {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
        z-index: 2;
        color: white;
        text-align: center;
    }

    #dashboard {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border: 0;

        #splashPage {
            position: absolute;
            left: 5px;
            text-align: center;
            border: 5px solid $bs_blue;
            background: white;
            border-radius: 10px;

            .flyerImage {
                width: 800px;
            }

            .tShirtContainer {
                position: absolute;
                right: 140px;
                height: 400px;
                width: 500px;
                top: 200px;
                z-index: 4;

                .tShirtImage {
                    left: 0;
                    position: absolute;
                    width: 500px;
                    //height: 490px;
                    z-index: 5;
                }

                .tShirtTextImage {
                    position: absolute;
                    top: 200px;
                    left: 300px;
                    width: 250px;
                    z-index: 6;
                    border: 1px solid white;
                    //height: 210px;
                }
            }

            .tShirtTextContainer {
                position: absolute;
                width: 500px;
                right: 140px;
                bottom: 50px;
                z-index: 5;
                font-size: 2.0em;

            }

            .splashTextWho {
                font-size: 0.8em;
            }

            #splashTextWhen {
                .whenExplanation {
                    font-size: 0.75em;
                }
            }

            #splashText {
              position: absolute;
              border: 0;
              top: 5px;
              left: 5px;
              height: 400px;
              width: 425px;
              border-radius: 10px;
              padding: 5px;
              font-size: 2.05em;
              text-align: center;
              color: black;
              background: white;
            }

            .splashTextHome {
                position: absolute;
                border-radius: 10px;
                right: 60px;
                top: 25px;
                padding: 10px;
                font-size: 2.0em;
                text-align: center;
                height: 600px;
                width: 630px;
                color: black;
                background: white;
                vertical-align: middle;
                z-index: 3;
                border: 5px solid $bs_blue;
                
                #splashTextEmailUs {
                    position: relative;
                    left: $dashboard_width / 4 - 180;
                    width: 350px;
                    border: 0;
                    text-align: left;

                    .loginField {
                        margin-bottom: 10px;
                        border: 1px solid #BCBEBF;
                        border-radius: 5px;
                        width: 340px;
                        height: 42.5px;
                        padding-top: 2px;
                        padding-left: 10px;
                    }

                    .loginField input {
                        width: 325px;
                    }

                    .captchaField {
                        @extend .loginField;

                        .captcha {
                            position: absolute;
                            right: 5px;
                            bottom: 64px;
                            font-size: 0.5em;
                            background-color: black;
                            color: white;
                            border-radius: 5px;
                            padding-top: 3px;
                            height: 42px;
                            width: 150px;
                            text-align: center;
                        }

                        input {
                            width: 150px;
                        }
                    }


                    .commentsField textarea {
                        width: 350px;
                        height: 100px;
                        border: 1px solid #BCBEBF;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        padding-top: 10px;
                    }
                }

                .splashFigJackSparrow {
                    position: absolute;
                    z-index: 5;
                    height: 50px;
                    bottom: 50px;
                    right: -95px;
                }

                .splashFigEmmet {
                    position: absolute;
                    z-index: 5;
                    height: 50px;
                    bottom: 130px;
                    right: 5px;
                }

                .splashMilleniumFalcon {
                    position: absolute;
                    z-index: 5;
                    height: 50px;
                    bottom: 25px;
                    right: -95px;
                }

                .splashFigBatman {
                    position: absolute;
                    z-index: 5;
                    height: 50px;
                    bottom: 72px;
                    left: -35px;
                }

                .splashFigSuperMan {
                    position: absolute;
                    z-index: 5;
                    height: 50px;
                    bottom: 65px;
                    left: -35px;
                }

                .splashFigPresidentBusiness {
                    position: absolute;
                    z-index: -1;
                    height: 50px;
                    bottom: 165px;
                    left: 5px;
                }

                .splashFigVitruvius {
                    position: absolute;
                    z-index: -1;
                    height: 50px;
                    top: 115px;
                    left: -95px;
                }

                .sponsorOne {
                    position: absolute;
                    z-index: -1;
                    height: 100px;
                    bottom: 10px;
                    left: 25px;
                    border-radius: 10px;
                    font-size: .5em;
                }

                .sponsorTwo {
                    font-size: .5em;
                    position: absolute;
                    z-index: -1;
                    height: 55px;
                    bottom: 10px;
                    right: 240px;
                    border-radius: 10px;
                }

                .sponsorThree {
                    font-size: .5em;
                    position: absolute;
                    z-index: -1;
                    height: 75px;
                    bottom: 10px;
                    right: 25px;
                }
            }

            .banner {
                position: absolute;
                top: 25px;
                left: 40px;
                height: 104px;
                width: 400px;
                border: 1px solid black;
                border-radius: 5px;
                overflow: hidden;

                .bannerImage {
                    height: 104px;
                    width: 400px;
                }
            }

            .imageLeft {
                position: absolute;
                top: 175px;
                left: 25px;
                height: 250px;
                width: 250px;
                border: 1px solid black;
                border-radius: 5px;
                overflow: hidden;
            }

            .imageRight {
                position: absolute;
                top: 375px;
                left: 205px;
                height: 250px;
                width: 250px;
                border: 1px solid black;
                border-radius: 5px;
                overflow: hidden;
            }

            .publicImage {
                height: 250px;
            }

            #splashDDCouch {
                position: absolute;
                height: 50px;
                width: 100px;
                bottom: 160px;
                left: 10px;
            }

            #publicTickets {
                position: absolute;
                z-index: 2;
                height: 225px;
                bottom: 25px;
                width: 400px;
                left: 15px;
                border: 5px solid $bs_blue;
                border-radius: 10px;

                .publicTicketsText {
                    position: absolute;
                    z-index: 2;
                    top: 30px;
                    right: 7px;
                    height: 125px;
                    bottom: 25px;
                    width: 200px;
                    border: 0;
                    border-radius: 10px;
                }

                .buyTicketsButton {
                    position: absolute;
                    right: 25px;
                    bottom: 30px;
                }
            }
        }
    }
}




.fig {
  height: 175px;
}

.figLarge {
  height: 225px;
}

.figXLarge {
  height: 250px;
}

.sponsor {
  width: 150px;
}

.sponsorMedium {
  width: 100px;
}

.sponsorSmall {
  width: 75px;
}

img#miniAFOLRegistrationImage {
  height: 75px;
}

img#miniStarWars {
  height: 125px;
}

%eventDashboard {
    border-radius: 25px;
    min-height: 700px;
    background: white;
    width: 100%;
}

#eventDashboard {
    @extend %eventDashboard;
}

$email_height: 2000px;
$email_link_color: $bs_blue;
#emailDashboard {
    @extend %eventDashboard;
    height: $email_height;

    .emailText { 
        position: absolute;
        border-radius:25px;
        height: $email_height - 70;
        margin: 20px;
        padding: 15px;
        font-size: 1.05em;
        text-align: left;
        width: $dashboard_width - 70;
        color: black;
        background: white;
        display: table;
        line-height: normal;  
        vertical-align: middle;

        a {
            color: $email_link_color;
            text-decoration: none;
        }

        a:link {
            color: $email_link_color;
            text-decoration: none;
        }

        a:hover {
            color: $email_link_color;
            text-decoration: none;
        }

        a:active {
            color: $email_link_color;
            text-decoration: none;	
        }

        a:visited {
            color: $email_link_color;
            text-decoration: none;	
        }
    }
}

.feedbackPanel {
    position: absolute;
    left: -400px;
    height: 475px;
    width: 400px;
    top: 200px;
    border: 3px solid $bs_blue;
    background: white;
    border-radius: 0 5px 5px 0;
    z-index: 1002;
    padding: 10px;
    
    .feedbackTab {
        position: absolute;
        top: 15px;
        width: 40px;
        height: 110px;
        right: -43px;
        background: white;
        border: 3px solid $bs_blue;
        border-radius: 0 5px 5px 0;
        border-left: 0;
    }
    
    .feedbackMessage {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .feedbackForm {
        position: relative;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 365px;

        .loginField {
            margin-bottom: 20px;
            border: 1px solid #BCBEBF;
            border-radius: 5px;
            width: 355px;
            height: 42.5px;

            input {
                width: 350px;
            }
        }

        .commentsField {
            margin-bottom: 20px;

            textarea {
                width: 365px;
                height: 75px;
                border: 1px solid #BCBEBF;
                border-radius: 5px;
                padding-top: 10px;
            }
        }

        .captchaField {
            @extend .loginField;

            height: 60px;
            padding-top: 10px;
            padding-left: 10px;

            .captcha {
                position: absolute;
                right: 15px;
                top: 245px;
                font-size: 1.0em;
                background-color: black;
                color: white;
                border-radius: 5px;
                padding-top: 3px;
                height: 50px;
                width: 150px;
                text-align: center;
            }

            input {
                width: 175px;
            }
        }
    }
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    background: black;
    opacity: .7;
    width: 100%;
    height: 100%;
    display: none;
}
