@import './base';

#mocForm {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 500px;

    .loginForm {
        left: 70px;
        position: relative;
        width: 360px;
        text-align: left;

        .loginField {
            margin-bottom: 20px;
            border: 1px solid #BCBEBF;
            border-radius: 5px;
            width: 355px;
            height: 42.5px;
            padding-top: 7.5px;
            padding-left: 5px;

            input {
                width: 350px;
            }
        }

        .optionField {
            margin-bottom: 20px;
            margin-top: 10px;
            border: 1px solid #BCBEBF;
            border-radius: 5px;
            width: 350px;
            height: 35px;
            padding-left: 10px;
            padding-top: 20px;
            text-align: left;
        }

        .commentsField {
            margin-bottom: 20px;

            textarea {
                width: 365px;
                height: 75px;
                border: 1px solid #BCBEBF;
                border-radius: 5px;
                padding-top: 10px;
            }
        }

        select.large {
            margin-top: -25px;
            width: 205px;
            height: 25px;
            font-size: 14px;
            color: #2F3132;
        }

        select.small {
            margin-top: -25px;
            width: 105px;
            height: 25px;
            font-size: 14px;
            color: #2F3132;
        }
    }
}

#mocRegistrationCard {
    position: absolute;
    top: 50px;
    right: 100px;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #35469A;
    border-radius: 10px;

    .sampleFont {
        position: absolute;
        font-size: 7em;
        height: 100px;
        width: 500px;
        padding-top: 75px;
        z-index: 0;
        color: black;
        opacity: .1;
    }

    .sampleMocTitle {
        position: absolute;
        top: 45px;
        left: 12.5px;
        width: 475px;
        height: 100px;
        z-index: 1;
        font-size: 2.5em;
        text-align: center;
        overflow: hidden;
    }

    .sampleMocDescription {
        position: absolute;
        top: 150px;
        left: 50px;
        width: 400px;
        height: 100px;
        text-align: center;
        z-index: 1;
        font-size: 1.5em;
        overflow: hidden;
    }

    .sampleMocCreator {
        position: absolute;
        width: 500px;
        text-align: center;
        bottom: 5px;
        z-index: 1;
        font-size: 1.5em;
        font-weight: bold;
        overflow: hidden;
    }

    #sampleBrickSlopesLogo {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

#mocRegistrationCatagoriesCard {
    position: absolute;
    top: 450px;
    left: 575px;
}

.myMocs {
    margin-top: 10px;
    position: relative;
    overflow: scroll;
    height: 365px;
    cursor: pointer;
}

.myEventButtonPosition {
    position: absolute;
    top: 0;
    right: 5px;
}

.myMocRow {
    position: relative;
    height: 40px;
    padding-left: 3px;
    margin-bottom: 10px;

    .mocSize {
        position: absolute;
        right: 10px;
        bottom: 0;
    }

    .mocTheme {
        position: absolute;
        left: 10px;
        bottom: 0;
    }
}

.mocRow {
    position: relative;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;

    .mocTitle {
        font-size: 2.0em;
        font-weight: bold;
    }

    .mocDisplayName {
        position: absolute;
        font-size: 1.0em;
        top: 45px;
        left: 15px;
    }

    .mocSize {
        font-size: 1.0em;
        font-weight: bold;
    }

    .mocDescription {
        position: absolute;
        width: 950px;
        height: 28px;
        left: 150px;
        top: 70px;
    }

    .leftPosition {
        position: absolute;
        width: auto;
        height: 80px;
        left: 10px;
    }

    .rightPosition {
        position: absolute;
        width: 350px;
        height: 25px;
        top: 10px;
        right: 10px;
        text-align: right;
    }
}
