$package_width: $dashboard_width - 160;
$package_table_width: $package_width - 20;

table.packages {
    width: $package_table_width;
    border-spacing: 0;

    td {
        border: 0.5px solid black;
        margin: 0;
        padding: 0;

    }
}

.packageSplashText {
    position: absolute;
    border-radius: 10px;
    right: 60px;
    top: 25px;
    padding: 10px;
    font-size: 2.0em;
    text-align: center;
    height: 600px;
    width: $package_width;
    color: black;
    background: white;
    vertical-align: middle;
    z-index: 3;
    border: 5px solid $bs_blue;

    .splashFigJackSparrow {
        position: absolute;
        z-index: 5;
        height: 50px;
        bottom: 50px;
        right: -85px;
    }

    .fees {
        margin-top: 5px;
        text-align: left;
        font-size: 0.5em;
    }

    .description {
        padding-left: 10px;
        text-align: left;
    }
}

.ticketsPageDashboard {
    height: 1000px;
}
