#tourContainer {
    position: absolute;
    width: 560px;
    z-index: 1005;
    top: 0;
    left: 0;
    min-height: 260px;
    height: auto;
    
    #arrow {
        position: absolute;
        left: 460px;
        top: 0;
    }

    .bsTour {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 450px;
        border: 5px solid $bs_blue;
        background: white;
        border-radius: 10px;
        padding: 10px;

        .tourTitle {
            position: relative;
            font-size: 1.5em;
            left: 5px;
            width: 440px;
            height: 30px;
            text-align: left;
        }

        input {
            width: 17px;
            height: 17px;
        }

        .label {
            width: 360px;
            height: 25px;
            font-size: .8em;
            text-align: center;
        }

        .cta {
            position: relative;
            height: 50px;

            .logo {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
            }

            .showTour {
                position: absolute;
                bottom: 18px;
                height: 20px;
                text-align: left;
                left: 50px;
                width: 250px;
                z-index: 2;
                font-size: 1em;
            }

            .steps {
                position: absolute;
                width: auto;
                right: 5px;
                bottom: 15px;
                height: 20px;
                font-size: .85em;
            }

            .actionButtonSmall {
                position: absolute;
                width: 80px;
                right: 75px;
                bottom: 0;
                height: 25px;
            }
        }


        .tourText {
            position: relative;
            margin-top: 5px;
            left: 5px;
            width: 430px;
            height: auto;
            text-align: left;
            font-size: 1.25em;
            padding: 5px;
        }
    }
}

#tourMask {
    position: absolute;
    z-index: 1004;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .4
}

.dashboardText {
    #showOneTimeTour {
        position: absolute;
        right: 35px;
        top: 15px;

        .actionButtonSmall {
            width: 100px;
        }
    }
}
