<filesMatch "\.(html|htm|js|css|php|png|pdf)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Expires -1
    Header set Pragma "no-cache"
</filesMatch>

<IfModule rewrite_module>
    RewriteEngine on
    RewriteCond %{SERVER_PORT} 80 
    RewriteRule ^(.*)$ https://www.mybrickslopes.com/$1 [R=301,L] 

    RewriteEngine on
    RewriteRule ^.*\.(gi|png|jpg|css|wav|avi|pdf|mpg|js|ico)$ - [NC,L]
    RewriteCond %{REQUEST_FILENAME} !php/Controller.php$
    RewriteRule ^(.*\.php)$ /php/Controller.php [NC,NE,L]

    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.html [L] 

    ErrorDocument 404 /error.html
</IfModule>
