<div id="dashboard">
    <div id="panes">
        <div class="eventPane" ng-click="clickRegistrations()">
            <div class="adminText"><bs-text text='{{eventYear}} Registrations' font-size=1.85 font-color=white></bs-text></div>
        </div> 
        <div class="eventPane" ng-click="clickResetPasswordEmail()">
            <div class="adminText">
                <bs-text text='Reset Password' font-size=1.85 font-color=white></bs-text>
                <p>
                <bs-text text='Email' font-size=1.85 font-color=white></bs-text>
            </div>
        </div> 
        <div class="eventPane" ng-click="clickUserRegistrationEmail()">
            <div class="adminText">
                <bs-text text='User Registration' font-size=1.85 font-color=white></bs-text>
                <p>
                <bs-text text='Email' font-size=1.85 font-color=white></bs-text>
            </div>
        </div> 
        <div class="eventPane" ng-click="clickEventRegistrationEmail()">
            <div class="adminText">
                <bs-text text='Event Registration' font-size=1.85 font-color=white></bs-text>
                <p>
                <bs-text text='Email' font-size=1.85 font-color=white></bs-text>
            </div>
        </div> 
        <div class="eventPane" ng-click="clickRegistrationPaidEmail()">
            <div class="adminText">
                <bs-text text='Registration Paid' font-size=1.85 font-color=white></bs-text>
                <p>
                <bs-text text='Email' font-size=1.85 font-color=white></bs-text>
            </div>
        </div> 
    </div>
</div>
