<div id="eventAfols">
    <div class="eventAfolsText">
        <div>
            <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Registered Afols" font-color=black></bs-text></h1>
        </div>
        <div class="searchField bold">
            <input ng-model="searchText" bs-placeholder="Search">
        </div>
        <div class='registeredAfols'>
            <table>
                <tr>
                    <th class="textCenter">#</th>
                    <th class="textCenter"><a href="" ng-click="predicate='firstName'; reverse=!reverse">Name</a></th>
                    <th class="textCenter"><a href="" ng-click="predicate='email'; reverse=!reverse">Email</a></th>
                    <th class="textCenter"><a href="" ng-click="predicate='address'; reverse=!reverse">Address</a></th>
                    <th class="textCenter"><a href="" ng-click="predicate='phoneNumber'; reverse=!reverse">Phone Number</a></th>
                    <th class="textCenter"><a href="" ng-click="predicate='memberSince'; reverse=!reverse">Member Since</a></th>
                </tr>
                <tr ng-class="{evenRow: $even}" ng-repeat="user in registeredUsers | filter:searchText:strict | orderBy:predicate:reverse">
                    <td class="textCenter">{{$index + 1}}</td>
                    <td class="textCenter">
                        {{user.firstName}} {{user.lastName}}
                    </td>
                    <td class="textCenter">
                        {{user.email}}
                    </td>
                    <td class="textCenter">
                        {{user.address}} {{user.city}}, {{user.state}} {{user.zipCode}}
                    </td>
                    <td class="textCenter">
                        {{user.phoneNumber}}
                    </td>
                    <td class="textCenter">
                        {{user.memberSince}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
