<div id="eventDashboard">
    <div class="dashboardText dashboardTextAuto">
        <div>
            <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Registered Afols" font-color=black></bs-text></h1>
        </div>
        <div class="searchField bold">
            <input ng-model="searchText" bs-placeholder="Search">
        </div>
        <div class='registeredAfols orderTitles'>
            <table>
                <tr>
                    <th>#</th>
                    <th class="textCenter"><a href="" ng-click="predicate='firstName'; reverse=!reverse">Name</a></th>
                    <th class="textCenter">Cost</th>
                    <th class="textCenter">Paid</th>
                    <th class="textCenter">Email</th>
                </tr>
                <tr ng-class="{evenRow: $even}" ng-repeat="afol in registeredAfols | filter:searchText:strict | orderBy:predicate:reverse">
                    <td class="textCenter">{{$index + 1}}</td>
                    <td class="textCenter">
                        {{afol.firstName}} {{afol.lastName}}
                        <br>
                        {{afol.email}}
                        <br>
                        {{afol.city}}, {{afol.state}}
                        <br>
                        {{afol.comments}}
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>Item</th>
                                <th>Discount</th>
                                <th>Cost</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Active</th>
                            </tr>       
                            <tr ng-class="{evenRow: $even}" ng-repeat="lineItem in afol.lineItems.lineItems">
                                <td class="textCenter">{{lineItem.lineItem}}</td>
                                <td class="textCenter">{{lineItem.discount}}</td>
                                <td class="textRight">{{lineItem.amount | currency}}</td>
                                <td class="textCenter">{{lineItem.quantity}}</td>
                                <td class="textRight">{{lineItem.total | currency}}</td>
                                <td class="textCenter pointer" ng-click=confirmPayment(lineItem)>{{lineItem.paid}}</td>
                                <td class="textCenter">{{lineItem.active}}</td>
                            </tr>
                            <tr>
                                <td class="bold textRight" colspan=4>Expected Total to be Paid:</td>
                                <td class="bold textRight">{{afol.lineItems.total | currency}}</td>
                                <td colspan=2>&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td class="textCenter">{{afol.paid}}</td>
                    <td class="textCenter pointer"> 
                        <span ng-click=sendEmail() ng-show=showEmailOption()>Send</span>
                        <span ng-hide=showEmailOption()>&nbsp;</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <bs-modal title="Success">E-mail sent!</bs-modal>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
