<div class="normalPane changePassword">
    <div class="meText"><bs-text text="Change Password" font-color=black font-size=1.25></bs-text></div>
    <div class="loginForm">
        <form name="changePasswordForm" ng-submit="changePasswordForm.$valid && changePassword()">
            <div class="loginField">
                <i class="icons-key icons-sprite-bg"></i>
                <input bs-placeholder="Current Password" type="password" ng-model="oldPassword" required>
            </div>
            <div class="loginField">
                <i class="icons-key icons-sprite-bg"></i>
                <input bs-placeholder="New Password - 8 Characters" 
                    type="password" 
                    ng-model="newPassword" 
                    equals={{newPasswordVerify}} 
                    required 
                    ng-min-length=8
                >
            </div>
            <div class="loginField">
                <i class="icons-key icons-sprite-bg"></i>
                <input bs-placeholder="New Password Verify" 
                    type="password" 
                    ng-model="newPasswordVerify" 
                    equals={{newPassword}} 
                    required 
                    ng-min-length=8
                >
            </div>
            <div>
                <button class="formButtonSmall" type="submit" ng-class="{disabled: verifying}" ng-disabled="verifying">
                    <bs-text text="Reset" font-color=white font-size=1.75></bs-text>
                </button>
            </div>
        </form>
    </div>
</div>
