<div>
    <div ng-repeat="event in eventList">
        <div class="info">
            <bs-text text="BrickSlopes - Salt Lake City" font-size=1.25></bs-text>
        </div>
        <div class="info">
            <bs-text text="{{passDates}}"></bs-text>
        </div>
        <div class="info">
            <bs-text text="Event Pass: {{passType}}"></bs-text>
        </div>
        <div class="info">
            <bs-text text="Paid: {{event.paid}}"></bs-text>
        </div>
        <div class="info">
            <bs-text text="Over 18: {{event.ageVerification}}"></bs-text>
        </div>
        <div class="info">
            <bs-text text="Meet and Greet: {{event.meetAndGreet}}"></bs-text>
        </div>
        <div class="brickCenter">
            <div class="brickHolder">
                <div class="legoBrick blue">
                    <div class="studs">
                        <div class="stud blue"></div>
                        <div class="stud blue"></div>
                        <div class="stud blue"></div>
                        <div class="stud blue"></div>
                        <div class="stud blue"></div>
                        <div class="stud blue"></div>
                        <div class="stud blue"></div>
                        <div class="stud blue"></div>
                    </div>
                    <bs-text text="{{event.badgeLine1}}" font-color=white></bs-text>
                </div>
            </div>
            <div class="brickHolder interlock">
                <div class="legoBrick yellow">
                    <div class="studs">
                        <div class="stud yellow"></div>
                        <div class="stud yellow"></div>
                        <div class="stud yellow"></div>
                        <div class="stud yellow"></div>
                        <div class="stud yellow"></div>
                        <div class="stud yellow"></div>
                        <div class="stud yellow"></div>
                        <div class="stud yellow"></div>
                    </div>
                    <bs-text text="{{event.badgeLine2}}" font-color=black></bs-text>
                </div>
            </div>
        </div>
        <div class="eventBrickSlopesLogo mediumLogo logoRight"></div>
    </div>
</div>
