<div id="eventDashboard">
    <div class="dashboardText heightAuto">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="AFOLs" font-color=black></bs-text>
            </h1>
        </div>
        <div id="eventSchedule">
            <p>
                Access to the pannels and events listed on this schedule is limited to AFOLs who have purchased and paid for registration.
                <br>
                This schedule is tenative, and subject to change in accordance with the Whims of the AFOLS who are giving and making the presentations and running the games.
                <br> 
                If you have a game, presentation, or other LEGO realted activity you would like to see at Brickslopes, please let us know.
        </div>
        <div>
            <table class="schedule">
                <tr>
                    <td class="headerTime">&nbsp;</td>
                    <td class="header bold">Thursday</td>
                    <td class="header bold">Friday</td>
                    <td class="header bold">Saturday</td>
                    <td class="header bold">Sunday</td>
                </tr>
                <tr>
                    <td class="eventTime bold">9:00</td>
                    <td class="event" rowspan=2 colspan=1>Hello World</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">10:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">11:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">12:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">13:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">14:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">15:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">16:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">17:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">18:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">19:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">20:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">21:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">22:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
                <tr>
                    <td class="eventTime bold">23:00</td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                    <td class="event"></td>
                </tr>
            </table>
        </div>
        <div id="schedule">
            <img src="/images/Schedule5.png">
        </div>
  </span>
  <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
