<div id="eventDashboard">
    <div class="dashboardText heightAuto">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="FAQ" font-color=black></bs-text>
            </h1>
        </div>
        <div>
            <h3>
                If you still have questions, please use the "FeedBack" button on the left to send us a question.
            </h3>
        </div>
        <div class="oneEMFont">
            <ol>
                <li> Q. What is the difference between buying tickets and a four-day event pass?</li>
                <ul>
                    <li>A. Public Tickets get you access to the public event on Friday or Saturday, where you can play in the Brick Pit, Build and Race Lego cars on the Brick Track, view awesome LEGO Creations, win door prizes, and, interact with the model builders, and purchase LEGO merchandise from our Vendors and Sponsors
                    </li>
                    <br>
                    <li>Registration gets you everything above, plus an exclusive con like experience with access to exclusive LEGO games, discussions, prizes, and space to display your LEGO creations</li>
                </ul>
                <br>
            <li>Q. Who can attend <bs-logo></bs-logo>?</li>
                <ul>
                    <li>Public Tickets are available to anyone; Adults 8 and older $8, Children 4 - 7 $2 each, Children 3 and under are Free.</li> 
                    <br>
                    <li>Registration is open to Fans of LEGO (FOLs) of any age, however individuals under 16 must be accompanied by a registered adult. We recommend that registered attendees be 12 or older</li>
                </ul><br>
            <li>Q. What are the game rules?</li>
                <ul>
                    <li>A brief overview of the games and the rules are listed along with each game in the registration area.</li>
                </ul>
                <br>    
            <li>Q. Are there Prizes?</li>
                <ul>
                    <li>Lots and Lots of Prizes, for all sorts of things, game winners, Best MOCs in specific categories, Best of Show, as chosen by the AFOLs, People’s Choice, for the public’s favorite MOC, volunteering, attending workshops and seminars, and just showing up.</li>
                </ul>
                <br>
            <li>Q. Will there be swag?</li>
                <ul>
                    <li>Yes, the exact makeup of the swag will not be determined until all sponsorship and promotional items are included, but we can say there already some sweet swag items coming to registered attendees, and some lucky members of the public. Much of the Swag comes from our vendors and sponsors so say thank you when you get a chance. Without you and them <bs-logo></bs-logo> would not be possible</li>
                </ul>
                <br>
           <li>Q. Do I have to pre-register my MOC?</li>
                <ul>
                    <li>No, but when we run out of space to display MOC, we are out of space. There are other perks to registration such as a nice preprinted MOC cars instead of an ugly hand written one, and Our Gratitude!</li>
                </ul>
                <br>
            <li>Q. Is there another fly-in this year?</li>
            	<ul>
            		<li>A. Not per se, however a number of AFOLS are organizing a couple of other group displays including great ball contraption, and Moonbase. We look forward to seeing what you come up with.</li>
            	</ul> 
            	<br>
    		<li>Q. Can I give a presentation?</li>
    			<ul>
    				<li>A. Definitely, we welcome your presentations, and workshops, and even your game ideas. let us know in the Feedback section or send us an email, and we’ll add your idea to the schedule.  We’ll even reward you with LEGO for doing so.</li>
    			</ul>
    			<br>
    	</ol>	
          
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
