<div id="eventDashboard">
    <div class="dashboardText">
        <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Hotels" font-color=black></bs-text></h1>
        <div id='HyattHouse'>
            <img src="/images/hotel/HyattHouse.png" align="right;"> 
        </div>
        <div class="oneEMFont">	
  	        <a href="http://www.hyatt.com/hyatt/reservations/flow6/propCheckAvailability.jspphpreplacedpid=slcxs&extCorporateId=g-brik"><span class="mediumFont blueFont">Hyatt House in Sandy Utah</span></a>
        </div>
        <p>
            Negotiated Rates Use Group Code: Brik
        </p>
        <bs-text text="Rooms" font-color="black"></bs-text>
        <br>
            $95 - Studio Suite
        <br>
           $105 - 1 Bedroom Suite<br>
        <p>
        <bs-text text="Amenities" font-color="black"></bs-text>
        <br>
            Continental Breakfast
        <br>
            Free Shuttle Service
        <br>
            Within Walking distance to the Expo Center
        <br>
            Heated Outdoor Pool and Spa
        <br>
            Full in-Room Kitchen
        </p>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
