<div id="eventRegistration" class="height1375">
    <div class="dashboardText height1375">
        <div>
            <h1><bs-logo font-size=1.25 text=" - {{eventDetails.city}}"></bs-logo> &#8226; <bs-text text="Event Registration" font-color=red></bs-text></h1>
        </div>
        <div id="discountPriceInformation">
            <h2>Before {{discountDate}}</h2>
            <div>
                <span class="blueFont">AFOL {{passType}} Event Pass</span> -- <span class="bold">{{eventDetails.costs.eventDiscount | currency}}</span> per person 
            </div>
            <p>
            <div>
                <span class="blueFont">Meet & Greet Event Pass</span> -- <span class="bold">{{eventDetails.costs.meetAndGreetDiscount | currency}}</span> per person
            </div>
            <p>
            <div>
                <bs-logo></bs-logo> <span class="blueFont">T-Shirt</span> -- <span class="bold">{{eventDetails.costs.tShirtDiscount | currency}}</span> per person
            </div>
            <p>
            <div>
                <bs-logo></bs-logo> <span class="blueFont">Name Badge</span> -- <span class="bold">{{eventDetails.costs.completeNameBadgeDiscount | currency}}</span> per person
            </div>
        </div>
        <div id="fullPriceInformation">
            <h2>After {{discountDate}}</h2>
            <div>
                <span class="blueFont">AFOL {{passType}} Event Pass</span> -- <span class="bold">{{eventDetails.costs.eventCost | currency}}</span> per person
            </div>
            <p>
            <div>
                <span class="blueFont">Meet & Greet Event Pass</span> -- <span class="bold">{{eventDetails.costs.meetAndGreetCost | currency}}</span> per person
            </div>
            <p>
            <div>
                <bs-logo></bs-logo> <span class="blueFont">T-Shirt</span> -- <span class="bold">{{eventDetails.costs.tShirtCost | currency}}</span> per person
            </div>
            <p>
            <div>
                <bs-logo></bs-logo> <span class="blueFont">Name Badge</span> -- <span class="bold">{{eventDetails.costs.completeNameBadgeCost | currency}}</span> per person
            </div>
        </div>
        <div id="eventDivider">
            <hr>
        </div>
        <div class="registrationForm">
            <div class="formButtonPosition">
                <div>
                    <h3>AFOL Event Registration Form</h3>
                </div>
                <form name="registration" ng-submit="registration.$valid && submitRegistration()">
                    <div class="group">
                        <bs-text text="Add-ons" font-size=1.25></bs-text>
                    </div>
                    <div class="fullBadgeOptionField">
                        <label><bs-logo></bs-logo> Name Badge:</label> Yes <input type="radio" ng-model="nameBadge" value="YES" checked> No <input type="radio" ng-model="nameBadge" value="NO">
                        <div class="brickCenter">
                            <div class="brickHolder">
                                <div class="legoBrick red">
                                    <div class="studs">
                                        <div class="stud red"></div>
                                        <div class="stud red"></div>
                                        <div class="stud red"></div>
                                        <div class="stud red"></div>
                                        <div class="stud red"></div>
                                        <div class="stud red"></div>
                                        <div class="stud red"></div>
                                        <div class="stud red"></div>
                                    </div>
                                    <div class="logoBrick">
                                        {{eventYear}} <bs-logo font-color=white></bs-logo>
                                    </div>
                                </div>
                            </div>
                            <div class="brickHolder interlock">
                                <div class="legoBrick blue">
                                    <div class="studs">
                                        <div class="stud blue"></div>
                                        <div class="stud blue"></div>
                                        <div class="stud blue"></div>
                                        <div class="stud blue"></div>
                                        <div class="stud blue"></div>
                                        <div class="stud blue"></div>
                                        <div class="stud blue"></div>
                                        <div class="stud blue"></div>
                                    </div>
                                    <input type="text" name="badgeLine2" bs-placeholder="Badge Line 1:" ng-model="badgeLine2" ng-required="nameBadge=='YES'" ng-maxlength=26>
                                </div>
                            </div>
                            <div class="brickHolder interlock2">
                                <div class="legoBrick yellow">
                                    <div class="studs">
                                        <div class="stud yellow"></div>
                                        <div class="stud yellow"></div>
                                        <div class="stud yellow"></div>
                                        <div class="stud yellow"></div>
                                        <div class="stud yellow"></div>
                                        <div class="stud yellow"></div>
                                        <div class="stud yellow"></div>
                                        <div class="stud yellow"></div>
                                    </div>
                                    <input type="text" name="badgeLine3" bs-placeholder="Badge Line 2:" ng-model="badgeLine3" ng-required="nameBadge=='YES'" ng-maxlength=26>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="errorFont" ng-show="registration.badgeLine2.$error.maxlength">
                        Your badge line 1 text cannot be longer than 26 characters
                    </div>
                    <div class="errorFont" ng-show="registration.badgeLine3.$error.maxlength">
                        Your badge line 2 text cannot be longer than 26 characters
                    </div>
                    <div class="optionField">
                        <label>Meet & Greet Event:</label> Yes <input type="radio" ng-model="meetAndGreet" value="YES" checked> No <input type="radio" ng-model="meetAndGreet" value="NO">
                    </div>
                    <div class="optionField">
                        <label><bs-logo></bs-logo> T-Shirt Size:</label>
                        <select ng-model="tShirtSize" ng-options="size for size in shirtSizes"></select>
                    </div>
                    <div class="optionField">
                        <label ng-bind="eventDetails.costs.draftOneDescription"></label> Yes <input type="radio" ng-model="draftOne" value="YES" checked> No <input type="radio" ng-model="draftOne" value="NO">
                    </div>
                    <div class="optionField">
                        <label ng-bind="eventDetails.costs.draftTwoDescription"></label> Yes <input type="radio" ng-model="draftTwo" value="YES" checked> No <input type="radio" ng-model="draftTwo" value="NO">
                    </div>
                    <div class="group">
                        <bs-text text="AFOL or TFOL" font-size=1.25></bs-text>
                    </div>
                    <div class="optionField">
                        <label>I am over 18 years old*:</label> Yes <input type="radio" ng-model="ageVerification" value="YES" checked> No <input type="radio" ng-model="ageVerification" value="NO">
                    </div>
                    <div class="group">
                        <bs-text text="Comments" font-size=1.25></bs-text>
                    </div>
                    <div class="commentsField">
                        <textarea id="comments" class="greyFont" ng-model="comments"></textarea>
                    </div>
                    <div class="formButtonPosition">
                        <button class="formButton" type="submit" ng-class="{disabled: verifying}" ng-disabled="verifying">
                            <bs-text text="Continue to payment" font-color=white font-size=1.75></bs-text>
                        </button>
                    </div>
                    <div class="asterickField">
                        <font size=-1>* Persons under 18 years old must be accompanied by a registered adult.</font>
                    </div>
                </form>
            </div>
        </div>
        <div id="eventSwag">
            <div class="packages">
                <h2>{{passType}} Event Registration</h2>
                <ol>
                    <li>{{passType}} Event Pass, {{passDates}}</li>
                    <li>Keynote Speaker, Panel and Other Speakers Access</li>
                    <li>MOC Display Space</li>
                    <li>{{eventYear}} <bs-logo></bs-logo> Engraved Brick</li>
                    <li>Access to LEGO Fan Games</li>
                    <li>MOC Prizes & Swag</li>
                </ol>
            </div>
            <div class="packages">
                <h2>Meet & Greet Event (add-on)</h2>
                <ol>
                    <li>Dinner {{meetAndGreetDinnerDate}}</li>
                    <li>Door Prizes & Swag</li>
                    <li>Mingling with AFOLs and Vendors</li>
                </ol>
            </div>
            <div class="packages">
                <h2><bs-logo></bs-logo> Name Badge (add-on)</h2>
                <ol>
                    <li>Event Slopes Logo</li>
                    <li>{{eventYear}} <bs-logo></bs-logo> Engraved Brick</li>
                    <li>2 Customized Engraved Bricks</li>
                    <li>Magnet</li>
                </ol>
            </div>
            <div class="packages">
                <h2><bs-logo></bs-logo> T-Shirt (add-on)</h2>
                <ol>
                    <li>{{eventYear}} Design</li>
                    <li>Always a classic!</li>
                </ol>
            </div>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
