<div id="eventDashboard">
    <div class="dashboardText">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="keynote" font-color=black></bs-text>
            </h1>
        </div>
        <div class="largeFont">
            <p>
                Joe Meno has been part of community since 1999, when he got out of his Dark Ages with the initial wave of LEGO Star Wars sets. In the years since, he has built not only MOCs but also community, starting by attending and volunteering for LEGO fan events, including some of the first BrickFests. In 2006, he ran BrickFest as an Event Coordinator. After that, he started another event, BrickMagic, in North Carolina. 
            </p>
            <p>
                His biggest community project is his current one - BrickJournal. Started in 2005 as an online publication, this was expanded to print two years later thanks to support from TwoMorrows Publishing and the LEGO Group. The magazine is a celebration and invitation to join the LEGO fan community with features and instructions on building and technique.
            </p>
            <p>
                Joe also was co-author to No Starch Press’ The Cult of LEGO and is working on some other books. He also mentors FIRST LEGO League teams and helped start an FLL program in a North Carolina elementary school. For LEGO, he was one of the designers of a LEGO Factory set, the Cool Car Garage and also was a LEGO MINDSTORMS Partner.
            </p>
            <p>
                And he’s not done yet...
            </p>
        </div>
        <!--
        <div id='keynoteImageHolder'>
            <img id='keynoteImage' src="/images/keynote/Tommy-Williamson_keynote_page.png">
        </div>
        -->
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
