<div id="eventDashboard">
    <div class="dashboardText heightAuto">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="AFOLs" font-color=black></bs-text>
            </h1>
        </div>
        <div class="eventSchedule">
            <p>
                Access to the pannels and events listed on this schedule is limited to AFOLs who have purchased and paid for registration.
                <br>
                This schedule is tenative, and subject to change in accordance with the Whims of the AFOLS who are giving and making the presentations and running the games.
                <br> 
                If you have a game, presentation, or other LEGO realted activity you would like to see at Brickslopes, please let us know.
        </div>
        <div class="schedule">
            <img src="/images/schedule/brickslopes_2018_schedule.png">
        </div>
  </span>
  <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
