<div id="eventDashboard">
    <div class="dashboardText heightAuto">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="AFOLs" font-color=black></bs-text>
            </h1>
        </div>
        <div class="searchField bold">
            <input ng-model="searchText" bs-placeholder="Search">
        </div>
        <div ng-class="{evenRow: $even}" ng-repeat="afol in registeredAfols | filter:searchText:strict | orderBy:'lastName'">
            <div class="afolRow">
                <div class="afolName">
                    {{afol.firstName}} {{afol.lastName}}
                </div>
                <div class="afolCity">
                    {{afol.city}}, {{afol.state}}
                </div>
                <div class="afolMocCount">
                    Registered MOCs: <span ng-bind="afol.mocCount"></span>
                    <span ng-if="afol.themeCount"> 
                        in <span ng-bind="afol.themeCount"></span> theme<span ng-if="afol.themeCount>1">s</span>
                    </span>
                </div>
                <div class="afolGameCount">
                    Registered Games: <span ng-bind="afol.gameCount"></span>
                </div>
            </div>
        </div>
    </div>
   <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
