<div id="eventDashboard">
    <div class="dashboardText">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Games" font-color=black></bs-text>
            </h1>
        </div>
        <div class="searchField bold">
            <input ng-model="searchText" bs-placeholder="Search">
        </div>
        <div ng-class="{evenRow: $even}" ng-repeat="game in gameList | filter:searchText:strict | orderBy:'displayName'">
            <div class="game">
                <div ng-class="{title: $even, titleRight: !$even}"><bs-text text="{{game.game}}" font-size=2></bs-text></div>
                <div ng-class="{description: $even, descriptionRight: !$even}" ng-bind="game.description"></div>
                <div ng-class="{image: $even, imageRight: !$even}"><img class="imageSize" ng-src="game.image"></div>
                <div ng-class="{cta: $even, ctaRight: !$even}">
                    <div ng-class="{maxParticipants: $even, maxParticipantsRight: !$even}"> 
                        <bs-text text="Total Seats: {{game.maxParticipants}}"></bs-text>
                    </div>
                    <div class="currentParticipants"> 
                        <bs-text text="Current Players Registered: {{game.currentParticipants}}"></bs-text>
                    </div>
                    <div class="remainingSeats"> 
                        <bs-text text="Remaining Seats: {{game.maxParticipants - game.currentParticipants}}"></bs-text>
                    </div>
                    <div class="registration"> 
                        <bs-text text="Registration is: {{game.registration}}"></bs-text>
                    </div>
                    <div ng-show="game.showCTAButton" class="registrationButton">
                        <div class="actionButtonGames" ng-click="clickGameRegistration()">
                            <bs-text text="Play !" font-color=white font-size=1.25></bs-text>
                        </div>
                    </div>
                    <div class="awards">
                        <bs-text text="Awards" font-size=1.25></bs-text>
                        <div ng-repeat="award in game.awards | orderBy:'place'">
                            <div class="award"><bs-text text="{{award.award}}" font-color=black><bs-text></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
