    <div id="eventDashboard">
            <div class="dashboardText">
                <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Hotels" font-color=black></bs-text></h1>
                <div class="hotelImage">
                    <img src="/images/hotel/HyattHouse.png"> 
                    <p>
                    <div class="oneEMFont">
                      <a href="https://sandy.house.hyatt.com/en/hotel/home.html?corp_id=G-BRIC"><span class="mediumFont blueFont">View website to book a room</span></a>
                    </div>
                </div>
                <div>
                    <bs-text text="Hyatt House" font-size="3" font-color="blue"></bs-text>
                    <bs-text text="Sandy, Utah" font-size="1.5" font-color="blue"></bs-text>
                </div>
                <p>
                <div>
                    <bs-text text="Book Before April 4, 2019" font-size="1.5" font-color="black"></bs-text>
                    <ol>
                        <li>Hyatt Reservations at 1-800-517-4170</li>
                        <li>
                            <a href="https://sandy.house.hyatt.com/en/hotel/home.html?corp_id=G-BRIC"><span class="blueFont">Reserve a room online</span></a>
                        </li>
                    </ol>
                </div>
                <p>
                <div>
                    <bs-text text="Rooms" font-size="1.5" font-color="black"></bs-text>
                </div>
                <div class="oneEMFont">
                    <ul>
                        <li>$109 - Apartment Style Room with</li>
                        <li>Full Kitchen and living space</li>
                        <li><span class="bold">Negotiated Rates ($109/night) Use Group Code: G-BRIC</span></li>
                    </ul>
                </div>
                <p>
                <div>
                <bs-text text="Amenities" font-size="1.5" font-color="black"></bs-text>
                <div class="oneEMFont">
                    <ul>
                        <li>1 Minute from Expo Center</li>
                        <li>Free Hot Breakfast & Omlet Bar</li>
                        <li>Free high-speed Internet </li>
                        <li>Shuttle to the Mountain America Exposition Center</li>
                        <li>Indoor pool and spa</li>
                        <li>Free coffee and tea in the lobby</li>
                    </ul>
                </div>
            </div>
            <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
