<div id="eventDashboard">
    <div class="dashboardText heightAuto">
        <div>
            <h1>
                <bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="FAQ" font-color=black></bs-text>
            </h1>
        </div>
        <div>
            <h3>
                If you still have questions, please use the "FeedBack" button on the left to send us a question.
            </h3>
        </div>
        <div class="oneEMFont">
            <ol>
                <li> Q. What is the difference between buying tickets and a three-day event pass?</li>
                <ul>
                    <li>Public Tickets get you access to the public event on Friday or Saturday, where you can play in the Brick Pit, Build and Race Lego cars on the Brick Track, view awesome LEGO Creations, win door prizes, and, interact with the model builders, and purchase LEGO merchandise from our Vendors and Sponsors
                    </li>
                    <br>
                    <li>Registration gets you everything above, plus an exclusive con like experience with access to exclusive LEGO games, discussions, prizes, and space to display your LEGO creations</li>
                </ul><br>
            <li>Q. Who can attend <bs-logo></bs-logo>?</li>
                <ol>
                    <li>Public Tickets are available to anyone;</li>
                    <li>Adults 8 and older $8</li>
                    <li>Children 8 and under are Free.</li>
                    <li>Registration is open to Fans of LEGO (FOLs) of any age, however individuals under 16 must be accompanied by a registered adult. We recommend that registered attendees be 12 or older</li>
                </ol><br>
            <li>Q. What are the game rules?</li>
                <ul>
                    <li>A brief overview of the games and the rules are listed along with each game in the registration area.</li>
                </ul>
                <br>    
            <li>Q. Are there Prizes?</li>
                <ul>
                    <li>Lots and Lots of Prizes, for all sorts of things, game winners, Best MOCs in specific categories, Best of Show, as chosen by the AFOLs, People’s Choice, for the public’s favorite MOC, volunteering, attending workshops and seminars, and just showing up.</li>
                    <li>Yes, both the AFOL, and Public Events have prizes. AFOL prizes include all sorts of things, game winners, Best MOCs in specific categories, Best of Show, as chosen by the AFOLs, People’s Choice, for the public’s favorite MOC, and individual prizes given out at presentations and discussions.</li>
                    <li>Public prizes are primarily are given out for participation on the public contests.</li>
                </ul>
                <br>
            <li>Q. Will there be swag?</li>
                <ul>
                    <li>Yes, the exact makeup of the swag will not be determined until all sponsorship and promotional items are included, but we can say there already some sweet swag items coming to registered attendees, and some lucky members of the public.</li></br>
                    <li>Much of the Swag comes from our vendors and sponsors so say thank you when you get a chance. Without you and them <bs-logo></bs-logo> would not be possible</li>
                </ul>
                <br>
           <li>Q. Do I have to pre-register my MOC?</li>
                <ul>
                    <li>No, but when we run out of space to display MOC, we are out of space. There are other perks to registration such as a nice preprinted MOC cars instead of an ugly hand written one, and Our Gratitude!</li>
                </ul>
                <br>
           <li>Q. Is there a Special Hotel Rate for AFOL attendees?</li>
                <ul>
                    <li>Yes, we have negotiated with the Hampton Inn and Suites to provide special pricing for <bs-logo></bs-logo> Attendees. Use Code “LEG” at checkout.</li>
                </ul>
                <br>
            <li>Q. Is there another fly-in this year?</li>
            	<ul>
            		<li>Not per se, however a number of AFOLS are organizing a couple of other group displays including great ball contraption, and Moonbase. We look forward to seeing what you come up with.</li>
            	</ul> 
            	<br>
    		<li>Q. Can I give a presentation?</li>
    			<ul>
                    <li>We welcome anyone who wants to present at <bs-logo></bs-logo>, you need only send an email to Cody, Brian or Steve, letting them know what topic will be, as well as time and days that will work best for you. In addition to the AFOL presentations that have been common in the past, <bs-logo></bs-logo> will provide the opportunity to present to the public as well for those who are interested. As a reward for sharing your passion with the community, all presenters will receive an additional LEGO set.</li>
                    <li>If there is more interest in presenting than can be accommodate, <bs-logo></bs-logo> may request copies of presentation Slide Decks prior to the show to help select those chosen to present.</li>
    			</ul>
    			<br>
    		<li>Q.  How can get space to sell My Lego related product at <bs-logo></bs-logo>?</li>
    			<ul>
    				<li>Vendor Space is available on a first come first Served Basis. Pricing starts at $150, for a 10x10 Booth with Table, and includes a single AFOL Event Pass. Additional Booth spaces are $75 Each. Vendors also have the option to buy either AFOL, or Associate passes for others who will help them at the booth.</li>
                    <li>Vendors who need more space than a single booth can provide, may purchase additional booth space at the $75 rate.</li>
    			</ul>
    			<br>
    		<li>Q. When will Closing Ceremonies be Held this Year?</li>
    			<ul>
    				<li>Closing Ceremonies will be Saturday Night. Refer to the Event Schedule for the most up-to-date information.</li>
    			</ul>
    			<br>
    		<li>Q. Will food be available onsite?</li>
    			<ul>
                    <li>Yes, AFOL attendees may at their at their option register for the Meet and Greet on Thursday Night. Additionally, there are numerous food vendors on site, as well as nearby the event center.</li>
    			</ul>
    			<br>
            <li>Q. Can I Volunteer at <bs-logo></bs-logo>? Are there rewards for doing so?</li>
                <ul>
                    <li>Yes, we need many volunteers to help at the event; most volunteers are needed during the public hours. Those interested in volunteering should send an email to Steve@brickslopes.com. Those selected for and completing their volunteer hours will receive a Public Event Pass, as well as a thank you gift.</li>
                </ul>
                <br>
    	</ol>	
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
