    <div id="eventDashboard">
            <div class="dashboardText">
                <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Hotels" font-color=black></bs-text></h1>
                <div class="hotelImage">
                    <img src="/images/hotel/HamptonInn.jpg"> 
                    <p>
                    <div class="oneEMFont">
                      <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/P/PVUORHX-BRI-20180627/index.jhtml"><span class="mediumFont blueFont">View website to book a room</span></a>
                    </div>
                </div>
                <div>
                    <bs-text text="Hampton Inn & Suites" font-size="3" font-color="blue"></bs-text>
                    <bs-text text="Orem, Utah" font-size="1.5" font-color="blue"></bs-text>
                </div>
                <p>
                <div>
                    <bs-text text="Three ways to secure hotel rooms" font-size="1.5" font-color="black"></bs-text>
                    <ol>
                        <li>Hampton Inn reservation line 1-800-HAMPTON or</li>
                        <li>Direct at 801-426-8500 </li>
                        <li>
                            <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/P/PVUORHX-BRI-20180627/index.jhtml"><span class="blueFont">Reserve a room</span></a>
                        </li>
                    </ol>
                </div>
                <p>
                <div>
                    <bs-text text="Rooms" font-size="1.5" font-color="black"></bs-text>
                </div>
                <div class="oneEMFont">
                    <ul>
                        <li>$114 - Standard Room (King or 2 Queens)</li>
                        <li><span class="bold">Negotiated Rates Use Group Code: BRI</span></li>
                    </ul>
                </div>
                <p>
                <div>
                <bs-text text="Amenities" font-size="1.5" font-color="black"></bs-text>
                <div class="oneEMFont">
                    <ul>
                        <li>Free Continental Breakfast</li>
                        <li>Free high-speed Internet </li>
                        <li>Within walking distance to the UCCU Center</li>
                        <li>Indoor pool and spa</li>
                        <li>Free coffee and tea in the lobby</li>
                    </ul>
                </div>
            </div>
            <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>