<div id="eventDashboard">
    <div class="dashboardText height800">
        <div>
            <h1><bs-logo font-size="1.25"></bs-logo> &#8226; <bs-text text="Me" font-color=black></bs-text></h1>
        </div>
        <div id="showOneTimeTour" ng-hide="hideTour">
            <div class="btn btn-sm btn-success" ng-click="clickTour()">
                <bs-text text="See Tour" font-color=white font-size=1></bs-text>
            </div>
        </div>
        <div id="mePanes">
            <bs-registered-events ng-if="! displayRegisterEventCTA"></bs-registered-events>
            <bs-event-registration-cta ng-if="displayRegisterEventCTA"></bs-event-registration-cta>
            <bs-event-mocs ng-if="! displayRegisterEventMocsCTA"></bs-event-mocs>
            <bs-event-mocs-cta ng-if="displayRegisterEventMocsCTA"></bs-event-mocs-cta>
            <bs-event-games></bs-event-games>
            <bs-event-vendors></bs-event-vendors>

            <bs-user-information></bs-user-information>
            <bs-change-password></bs-change-password>
        </div>
    </div>
    <div id="dashboardCloseButton" ng-click="closeDialog()"></div>
</div>
