<div id="splashPageCTA" ng-show="makeACalculation()">
    <div id="childPackages">
        <div class="text">
            <bs-text text="Experience added fun" font-size=1.5 font-color="black"></bs-text>
            <br>
            <bs-text text="with our" font-size=1.5 font-color="black"></bs-text>
            <br>
            <bs-text text="children's packages" font-size=1.5 font-color="black"></bs-text>
        </div>
        <div class="buyTicketsButton" ng-controller="bsIndex">
            <button class="actionButtonSquare" ng-click="packages()">
                <bs-text text="Buy Package" font-color=white font-size=1.75></bs-text>
            </button>
        </div>
    </div>
    <div id="countDown"></div>
</div>

