<div id="splashPageCTA" ng-show="makeACalculation()">
    <div id="childPackages" ng-if="displayTickets()">
        <div class="text">
            <bs-text text="View Event Packages" font-size=1.5 font-color="black"></bs-text>
            <br>
            <bs-text text="for" font-size=1.5 font-color="black"></bs-text>
            <br>
            <bs-text text="Adults and children" font-size=1.5 font-color="black"></bs-text>
        </div>
        <div class="buyTicketsButton" ng-controller="bsIndex">
            <button class="actionButtonSquare" ng-click="packages()">
                <bs-text text="View Packages" font-color=white font-size=1.75></bs-text>
            </button>
        </div>
    </div>
    <div id="countDown"></div>
</div>

